<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="content">
            <div style="width: 900px;">
                <p-fieldset legend="Atachments">
                    <form class="flex align-items-center gap-3">
                        <label for="desc">Description</label>
                        <label for="attachment" style="margin-left: 150px;">Attachment</label>
                    </form>
                    <form class="flex align-items-center gap-3">
                        <input pInputText id="program" aria-describedby="program-help" />
                        <div>
                            <p-toast></p-toast>
                            <p-fileUpload mode="basic" chooseLabel="Attach file" name="demo[]" accept="image/*" (onUpload)="onUpload($event)"></p-fileUpload>
                        </div>
                    </form><br>
                    <form class="flex align-items-center gap-3">
                        <input pInputText id="program" aria-describedby="program-help" />
                        <div>
                            <p-toast></p-toast>
                            <p-fileUpload mode="basic" chooseLabel="Attach file" name="demo[]" accept="image/*" (onUpload)="onUpload($event)"></p-fileUpload>
                        </div>
                    </form><br>
                    <form class="flex align-items-center gap-3">
                        <input pInputText id="program" aria-describedby="program-help" />
        
                        <div>
                            <p-toast></p-toast>
                            <p-fileUpload mode="basic" chooseLabel="Attach file" name="demo[]" accept="image/*" (onUpload)="onUpload($event)"></p-fileUpload>
                        </div>
                    </form><br>
                    <form class="flex align-items-center gap-3">
                        <input pInputText id="program" aria-describedby="program-help" />
        
                        <div>
                            <p-toast></p-toast>
                            <p-fileUpload mode="basic" chooseLabel="Attach file" name="demo[]" accept="image/*" (onUpload)="onUpload($event)"></p-fileUpload>
                        </div>
                    </form><br>
                    <form class="flex align-items-center gap-3">
                        <input pInputText id="program" aria-describedby="program-help" />
        
                        <div>
                            <p-toast></p-toast>
                            <p-fileUpload mode="basic" chooseLabel="Attach file" name="demo[]" accept="image/*" (onUpload)="onUpload($event)"></p-fileUpload>
                        </div>
                    </form>
        
                </p-fieldset>
            </div>
           
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Submit" (onClick)="submitPage()" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>