<p-toast></p-toast>
<p-toast key="success"></p-toast>
<p-toast key="error"></p-toast>
<div class="grid">
    <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
        <p-tabView [activeIndex]="eventService.selectedDemandTabIndex">
            <p-tabPanel header="My Demands">
                <div class="card" *ngIf="allDemands.myDemands">
                    <p-table [value]="allDemands.myDemands" selectionMode="single" [(selection)]="selectedDemand" (onRowSelect)="onDemandSelect($event, true)" [tableStyle]="{ 'min-width': '40rem' }"  [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="actionTime">Demand Intake Id <p-sortIcon field="demandIntakeId"></p-sortIcon></th>
                                <th pSortableColumn="topicId">Title <p-sortIcon field="title"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Request Date <p-sortIcon field="requestedDate"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Requested By <p-sortIcon field="requestedBy"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Status <p-sortIcon field="status"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-demand let-ri="rowIndex" let-columns="columns" >
                            <tr [pSelectableRow]="demand">
                                <td>{{ demand.introduction['demandIntakeId'] }}</td>
                                <td>{{ demand.introduction['title'] }}</td>
                                <td>{{ demand.requesterInfo['requestedDate']  | date: 'MMM dd, yyyy'}}</td>
                                <td>{{ demand.introduction['requestedBy'] }}</td>
                                <td>{{ demand.introduction['statusLabel'] }}</td>
                            </tr>
                        </ng-template>
                    </p-table> 

                    <div *ngIf="allDemands.myDemands.length == 0">
                        <p>You dont have any Demands!</p>
                    </div>
                </div>

            </p-tabPanel>
            <p-tabPanel header="Pending Demands" *ngIf="!isRequester" >
                <div class="card" *ngIf="allDemands.pendingDemands">
                    <p-table [value]="allDemands.pendingDemands" selectionMode="single" [(selection)]="selectedDemand" (onRowSelect)="onDemandSelect($event, false)" [tableStyle]="{ 'min-width': '40rem' }"  [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="actionTime">Demand Intake Id <p-sortIcon field="demandIntakeId"></p-sortIcon></th>
                                <th pSortableColumn="topicId">Title <p-sortIcon field="title"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Request Date <p-sortIcon field="requestedDate"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Requested By <p-sortIcon field="requestedBy"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Status <p-sortIcon field="status"></p-sortIcon></th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-demand let-ri="rowIndex" let-columns="columns" >
                            <tr [pSelectableRow]="demand">
                                <td>{{ demand.introduction['demandIntakeId'] }}</td>
                                <td>{{ demand.introduction['title'] }}</td>
                                <td>{{ demand.requesterInfo['requestedDate'] | date: 'MMM dd, yyyy'}}</td>
                                <td>{{ demand.introduction['requestedBy'] }}</td>
                                <td>{{ demand.introduction['statusLabel'] }}</td>
                               
                            </tr>
                        </ng-template>
                    </p-table> 
                    
                    <div *ngIf="allDemands.pendingDemands.length == 0 && !isRequester">
                        <p>No Pending Demands!</p>
                    </div>

                </div>
            </p-tabPanel>
        </p-tabView>
        </div>
    </div>
   


