<div class="grid">
  <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12" style="display: inline-flex;">
    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9" style="display: inline-flex;">
      <img src="assets/images/philips-logo-2.png" alt="Logo" height="50" />
      <h2>EADI Demad Intake Tool</h2>
    </div>
    <div class="col-2 xs:col-2 sm:col-2 lg:col-2 xl:col-2" *ngIf="user" style="display: inline-flex;">
      <i class="pi pi-user" style="font-size: 1.5rem; margin-top: 1rem; margin-right: 1rem;"> </i>
      <h4>{{user}}</h4>
    </div>
  </div>
  <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12" style="margin-top: -2.2rem;">
    <p-progressBar mode="indeterminate" *ngIf="isProgressing" [style]="{ height: '6px'}"></p-progressBar>
  </div>
</div>