<p-toast></p-toast>
<div class="card grid">
  <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
    <div class="grid">
      <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
        <p-fieldset legend="Add/Remove Demand Manager">
          <div class="grid">
            <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
              <div *ngIf="dmList.length == 0">
                <p>No Demand Managers configured, please Add Demand Manager!</p>
              </div>
              <p-table [value]="dmList" *ngIf="dmList.length > 0">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Email Address</th>
                    <th>Status</th>
                    <th>Domain</th>
                    <th>Created On</th>
                    <th>Updated On</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dm>
                  <tr>
                    <td>{{ dm.email }}</td>
                    <td>
                      <span
                        [class]="'align-self-center approver-badge status-' + demandIntakeService.getApproverStatusValue(dm.status)">
                        {{ dm.status }}
                      </span>
                    </td>
                    <td><span class="text-900 font-medium">{{ getValue(dm.domain) }}</span></td>
                    <td>{{ dm.createdDate | date: 'MMM dd, yyyy' }}</td>
                    <td>{{ dm.updatedDate | date: 'MMM dd, yyyy' }}</td>
                    <td>
                      <p-button icon="pi pi-user-edit" (onClick)="showUpdateDMDialog(dm)"></p-button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
            <p-button label="Add" icon="pi pi-plus" (onClick)="showAddDMDialog()"></p-button>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="visibleAddDMDialog" header="Add Demand Manager" modal="true">
  <div class="card flex flex-column px-8 py-5 gap-4">
    <div class="inline-flex flex-column gap-2">
      <label for="email" class="font-semibold">Email</label>
      <input pInputText id="email" [(ngModel)]="adminService.approver.email" type="email" size="40"
             (blur)="eventService.checkEmailValue(adminService.approver.email)"
      />
    </div>

    <div class="inline-flex flex-column gap-3">
      <label for="domain" class="font-semibold">Domain</label>
      <p-dropdown [options]="domains" [(ngModel)]="adminService.approver.domain" placeholder="Your Domain"></p-dropdown>
    </div>

    <div class="inline-flex flex-column gap-3">
      <label for="status" class="font-semibold">Status</label>
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton name="status" value="ACTIVE" [(ngModel)]="adminService.approver.status"></p-radioButton>
          <label class="font-semibold">Active</label>
        </div>
        <div class="flex align-items-center">
          <p-radioButton name="status" value="INACTIVE" [(ngModel)]="adminService.approver.status"></p-radioButton>
          <label class="font-semibold">Inactive</label>
        </div>
      </div>
    </div>
    <div></div>

    <div class="flex align-items-center gap-3 w-full">
      <p-button label="Save" (click)="onSubmit()" type="submit"></p-button>
      <p-button label="Cancel" (click)="closeAddDMDialog()"></p-button>
    </div>
    <div></div>
  </div>
</p-dialog>

<p-dialog [(visible)]="visibleUpdateDMDialog" header="Update Demand Manager" modal="true">
  <div class="card flex flex-column px-8 py-5 gap-4">
    <div class="inline-flex flex-column gap-2">
      <label for="email" class="font-semibold">Email</label>
      <input pInputText id="email" [(ngModel)]="adminService.approver.email" type="email" size="40"
             (blur)="eventService.checkEmailValue(adminService.approver.email)" [disabled]="true"
      />
    </div>
    <div class="inline-flex flex-column gap-2">
      <label for="domain" class="font-semibold">Domain</label>
      <p-dropdown [options]="domains" [(ngModel)]="adminService.approver.domain" placeholder="Your Domain"></p-dropdown>
    </div>

    <div class="inline-flex flex-column gap-2">
      <label for="status" class="font-semibold">Status</label>
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton name="status" value="ACTIVE" [(ngModel)]="adminService.approver.status"></p-radioButton>
          <label class="font-semibold">Active</label>
        </div>
        <div class="flex align-items-center">
          <p-radioButton name="status" value="INACTIVE" [(ngModel)]="adminService.approver.status"></p-radioButton>
          <label class="font-semibold">Inactive</label>
        </div>
      </div>
    </div>
    <div></div>

    <div class="flex align-items-center gap-2 w-full">
      <p-button label="Save" (click)="onUpdate()" type="submit"></p-button>
      <p-button label="Cancel" (click)="closeUpdateDMDialog()"></p-button>
    </div>
    <div></div>
  </div>
</p-dialog>
