<p-toast></p-toast>

<div class="grid">
  <div class="col-4">
    <label class="asterisk-if-mandatory">
      {{ fieldsService.getLabel('INTRODUCTION_EXISTING_DEMAND_CATALOG_START') + ' ' }}
      <a target="_blank" href="https://share.philips.com/sites/STS020210604094742/Pages/ADLDemandFunnelGrid.aspx">
        {{ fieldsService.getLabel('INTRODUCTION_EXISTING_DEMAND_CATALOG_END') }}</a>
    </label>
  </div>
  <div class="col-8">
    <input type="radio" name="isDocReferred"
           [pTooltip]="fieldsService.getToolTip('INTRODUCTION_EXISTING_DEMAND_CATALOG_YES')"
           [(ngModel)]="demandInfo.isDocReferred" [value]="true">
    <label>{{ fieldsService.getLabel('INTRODUCTION_EXISTING_DEMAND_CATALOG_YES') }}</label>
    <input type="radio" name="isDocReferred"
           [pTooltip]="fieldsService.getToolTip('INTRODUCTION_EXISTING_DEMAND_CATALOG_NO')" checked="checked"
           [(ngModel)]="demandInfo.isDocReferred" [value]="false">
    <label>{{ fieldsService.getLabel('INTRODUCTION_EXISTING_DEMAND_CATALOG_NO') }}</label> &nbsp;
    <label>{{ fieldsService.getLabel('INTRODUCTION_EXISTING_DEMAND_FOUND') }}</label>
  </div>

  <div class="col-4">
    <label class="asterisk-if-mandatory w-full">
      {{ fieldsService.getLabel('INTRODUCTION_ARCHITECT_ALIGNED') }}
    </label>
  </div>
  <div class="col-8">
    <input type="radio" name="architectAligned"
           [pTooltip]="fieldsService.getToolTip('INTRODUCTION_ARCHITECT_ALIGNED_YES')"
           [(ngModel)]="demandInfo.architectAligned" [value]="true">
    <label>{{ fieldsService.getLabel('INTRODUCTION_ARCHITECT_ALIGNED_YES') }}</label>
    <input type="radio" name="architectAligned"
           [pTooltip]="fieldsService.getToolTip('INTRODUCTION_ARCHITECT_ALIGNED_NO')" checked="checked"
           [(ngModel)]="demandInfo.architectAligned" [value]="false">
    <label>{{ fieldsService.getLabel('INTRODUCTION_ARCHITECT_ALIGNED_NO') }}</label>
  </div>

  <div class="col-12" *ngIf="demandInfo.architectAligned">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center justify-content-between w-full">
          <span class="font-bold">{{ fieldsService.getLabel('INTRODUCTION_ARCHITECT_ALIGNMENT_FIELDSET') }}</span>
          <div class="grid gap-3">
            <p-button (click)="addAlignment()"
                      [disabled]="architectAlignmentInfo.length > 9">{{ fieldsService.getLabel('ADD_BUTTON') }}
            </p-button>
            <p-button (click)="removeAlignment()"
                      [disabled]="architectAlignmentInfo.length < 2">{{ fieldsService.getLabel('REMOVE_BUTTON') }}
            </p-button>
          </div>
        </div>
      </ng-template>
      <div class="grid">
        <div class="col-12 grid p-fluid">
          <span class="col-4 font-bold">Email</span>
          <span class="col-8 font-bold">Comment</span>
        </div>
        <div class="col-12 m-0 p-0">
          <p-divider styleClass="m-0"></p-divider>
        </div>
        <div class="col-12">
          <div class="grid p-fluid" *ngFor="let architectAlignment of architectAlignmentInfo">
            <div class="col-4">
              <input class="w-full" pInputText [(ngModel)]="architectAlignment.email" type="email"
                     [pTooltip]="fieldsService.getToolTip('INTRODUCTION_ARCHITECT_ALIGNMENT_EMAIL')"
                     (blur)="eventService.checkEmailValue(architectAlignment.email)"/>
            </div>
            <div class="col-8">
              <input class="w-full" pInputText [(ngModel)]="architectAlignment.comment"
                     [pTooltip]="fieldsService.getToolTip('INTRODUCTION_ARCHITECT_ALIGNMENT_COMMENT')"
                     aria-describedby="program-help"/>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="col-12">
    <p-fieldset [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 px-2">
          <span class="font-bold" [pTooltip]="fieldsService.getToolTip('INTRODUCTION_FIELDSET')">
            {{ fieldsService.getLabel('INTRODUCTION_FIELDSET') }}
          </span>
        </div>
      </ng-template>
      <div class="grid">
        <div class="col-3 align-content-center">
          <label for="title" class="asterisk-if-mandatory">
            {{ fieldsService.getLabel('INTRODUCTION_DEMAND_TITLE') }}</label>
        </div>
        <div class="col-9 align-content-center">
          <input pInputText required id="title" type="text" [(ngModel)]="demandInfo.title"
                 [pTooltip]="fieldsService.getToolTip('INTRODUCTION_DEMAND_TITLE')" [escape]="false" class="w-full"/>
        </div>
        <div class="col-3 align-content-center">
          <label for="description"
                 class="asterisk-if-mandatory">{{ fieldsService.getLabel('INTRODUCTION_DEMAND_DESC') }}</label>
        </div>
        <div class="col-9 align-content-center">
          <textarea id="description" rows="3" cols="110" [(ngModel)]="demandInfo.description" pInputTextarea
                    [pTooltip]="fieldsService.getToolTip('INTRODUCTION_DEMAND_DESC')" [escape]="false"
                    class="w-full"></textarea>
        </div>
      </div>
    </p-fieldset>
  </div>
  <div class="col-12">
    <div *ngIf="visibleSaveButton" class="flex justify-content-between">
      <p-button label="{{ fieldsService.getLabel('SAVE_FOR_LATER') }}" (onClick)="savePage(true)"
                iconPos="left"></p-button>
      <p-button label="{{ fieldsService.getLabel('NEXT_BUTTON') }}" (onClick)="validateIntroductionInfoAndSave(false)"
                icon="pi pi-angle-right" iconPos="right"></p-button>
    </div>
    <div *ngIf="!visibleSaveButton" class="flex justify-content-between">
      <p-button label="{{ fieldsService.getLabel('NEXT_BUTTON') }}" *ngIf="demandIntakeService.isNew"
                (onClick)="validateIntroductionInfoAndSave(false)" icon="pi pi-angle-right" iconPos="right"></p-button>
      <p-button label="{{ fieldsService.getLabel('NEXT_BUTTON') }}" *ngIf="!demandIntakeService.isNew"
                (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
    </div>
  </div>

</div>

