<p-toast></p-toast>

<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-12 align-text-center">
        <label>{{ fieldsService.getLabel('FUNCTIONAL_NOTE') }}</label>
      </div>
    </div>
    <p-tabView [activeIndex]="eventService.selectedRequirementsTabIndex" (onChange)="onTabChange($event)">
      <p-tabPanel header="{{ fieldsService.getLabel('FUNCTIONAL_TAB_PANEL') }}">
        <div class="grid p-fluid">
          <div class="col-3 align-content-center">
            <label for="statement" class="asterisk-if-mandatory">
              {{ fieldsService.getLabel('FUNCTIONAL_PROBLEM_STATEMENT') }}</label>
          </div>
          <div class="col-9 align-content-center">
            <textarea id="statement" rows="2" [(ngModel)]="requirementFunctionalInfo.statement"
                      tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('FUNCTIONAL_PROBLEM_STATEMENT')"
                      pInputTextarea></textarea>
          </div>
          <div class="col-3 align-content-center">
            <label for="scope"
                   class="asterisk-if-mandatory">{{ fieldsService.getLabel('FUNCTIONAL_DEMAND_SCOPE') }}</label>
          </div>
          <div class="col-9">
            <textarea rows="2" [(ngModel)]="requirementFunctionalInfo.scope" cols="75"
                      tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('FUNCTIONAL_DEMAND_SCOPE')"
                      pInputTextarea></textarea>
          </div>
          <div class="col-3 align-content-center">
            <label for="businessValue" required
                   class="asterisk-if-mandatory">{{ fieldsService.getLabel('FUNCTIONAL_BUSINESS_VALUE') }}</label>
          </div>
          <div class="col-9">
            <textarea rows="2" [(ngModel)]="requirementFunctionalInfo.businessValue" cols="75"
                      tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('FUNCTIONAL_BUSINESS_VALUE')"
                      pInputTextarea></textarea>
          </div>
          <div class="col-3 align-content-center">
            <label for="goLiveApproach" required
                   class="asterisk-if-mandatory">{{ fieldsService.getLabel('FUNCTIONAL_GO_LIVE_APPROACH') }}</label>
          </div>
          <div class="col-9">
            <input type="radio" id="glA1" name="goLiveApproach" checked="checked"
                   tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('FUNCTIONAL_GO_LIVE_APPROACH_ONE_TIME')"
                   [(ngModel)]="requirementFunctionalInfo.goLiveApproach" value="oneTime">
            <label for="glA1">{{ fieldsService.getLabel('FUNCTIONAL_GO_LIVE_APPROACH_ONE_TIME') }}</label>
            <input type="radio" id="glA2" name="goLiveApproach"
                   tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('FUNCTIONAL_GO_LIVE_APPROACH_PHASED')"
                   [(ngModel)]="requirementFunctionalInfo.goLiveApproach" value="phased">
            <label for="glA2">{{ fieldsService.getLabel('FUNCTIONAL_GO_LIVE_APPROACH_PHASED') }}</label>
          </div>
          <div class="col-3 align-content-center"
               *ngIf="requirementFunctionalInfo.goLiveApproach == 'oneTime'">
            <label for="requestDate" class="col-fixed" required
                   class="asterisk-if-mandatory">{{ fieldsService.getLabel('FUNCTIONAL_DESIRED_REQUESTED_GO_LIVE') }}</label>
          </div>
          <div class="col-3 align-content-center"
               *ngIf="requirementFunctionalInfo.goLiveApproach == 'phased'">
            <label for="requestDate" class="col-fixed" required class="asterisk-if-mandatory">
              {{ fieldsService.getLabel('FUNCTIONAL_DESIRED_FIRST_GO_LIVE') }}
            </label>
          </div>
          <div class="col-9 align-content-center"
               *ngIf="requirementFunctionalInfo.goLiveApproach == 'oneTime' || requirementFunctionalInfo.goLiveApproach == 'phased'">
            <p-calendar dateFormat="M dd, yy" [numberOfMonths]="3" [(ngModel)]="requirementFunctionalInfo.bglDate"
                        tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('FUNCTIONAL_GO_LIVE_DATE')"
                        [minDate]="eventService.goLiveMinDate" [showIcon]="true"></p-calendar>
          </div>

          <div class="col-3 align-content-center">
            <label for="sourceDetails" style="width:100px">{{
                fieldsService.getLabel('FUNCTIONAL_SOURCE_DETAILS')
              }}</label>
          </div>
          <div class="col-9 align-content-center">
            <textarea rows="2" [(ngModel)]="requirementFunctionalInfo.sourceDetails" cols="75"
                      tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('FUNCTIONAL_SOURCE_DETAILS')"
                      pInputTextarea></textarea>
          </div>
          <div class="col-3 align-content-center">
            <label for="targetDetails">{{
                fieldsService.getLabel('FUNCTIONAL_TARGET_DETAILS')
              }}</label>
          </div>
          <div class="col-9">
                                <textarea rows="2" [(ngModel)]="requirementFunctionalInfo.targetDetails" cols="75"
                                          tooltipPosition="left"
                                          tooltipPosition="left"
                                          [pTooltip]="fieldsService.getToolTip('FUNCTIONAL_TARGET_DETAILS')"
                                          pInputTextarea></textarea>
          </div>

          <div class="col-3 align-content-center">
            <label for="mappingRequirement">{{ fieldsService.getLabel('FUNCTIONAL_MAPPING_REQ') }}</label>
          </div>
          <div class="col-9">
            <textarea rows="2" [(ngModel)]="requirementFunctionalInfo.mappingRequirement" cols="75"
                      tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('FUNCTIONAL_MAPPING_REQ')"
                      pInputTextarea></textarea>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="{{ fieldsService.getLabel('NON_FUNCTIONAL_TAB_PANEL') }}">
        <p-fieldset [toggleable]="true">
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
              <span class="font-bold"
                    tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_COMMON')">
                {{ fieldsService.getLabel('NON_FUNCTIONAL_COMMON') }}</span>
            </div>
          </ng-template>
          <div class="grid p-fluid">
            <div class="col-3 align-content-center">
              <label
                for="messageClassification">{{ fieldsService.getLabel('NON_FUNCTIONAL_MESSAGE_CLASSIFICATION') }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="messageClassification" size="70"
                     placeholder="Is the message structured for example XML or unstructured?"
                     [(ngModel)]="requirementNonFunctionalInfo.msgClassification"
                     tooltipPosition="left"
                     [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_MESSAGE_CLASSIFICATION')"
                     aria-describedby="messageClassification-help"/>
            </div>
            <div class="col-3 align-content-center">
              <label for="messageSize">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_MESSAGE_SIZE')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="messageSize"
                     [(ngModel)]="requirementNonFunctionalInfo.msgSize" size="70"
                     placeholder="Size of the individual messages /dataset  exchanged. Provide the peak and average size of messages"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_MESSAGE_SIZE')"
                     aria-describedby="messageSize-help"/>
            </div>
            <div class="col-3 align-content-center">
              <label for="volume">{{ fieldsService.getLabel('NON_FUNCTIONAL_VOLUME') }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="volume" [(ngModel)]="requirementNonFunctionalInfo.volume"
                     size="70"
                     placeholder="Volume of messages per time interval. Provide peak and average values along with the volume spread over the year (seasonal peaks etc)"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_VOLUME')"
                     ia-describedby="volume-help"/>
            </div>
            <div class="col-3 align-content-center">
              <label for="timing">{{ fieldsService.getLabel('NON_FUNCTIONAL_TIMING') }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="timing" [(ngModel)]="requirementNonFunctionalInfo.timing"
                     size="70" placeholder="When are the messages exchanged?"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_TIMING')"
                     aria-describedby="timing-help"/>
            </div>
            <div class="col-3 align-content-center">
              <label for="maximumLatency">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_MAXIMUM_LATENCY')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="maximumLatency"
                     [(ngModel)]="requirementNonFunctionalInfo.maxLatency" size="70"
                     placeholder="What is the expected throughput time for each transaction? (in mSec/Sec/Min/hour) What is the maximum acceptable delay in processing?"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_MAXIMUM_LATENCY')"
                     aria-describedby="maximumLatency-help"/>
            </div>
            <div class="col-3 align-content-center">
              <label for="businessCriticality">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_BUSINESS_CRITICALITY')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="businessCriticality"
                     [(ngModel)]="requirementNonFunctionalInfo.businessCriticality" size="70"
                     placeholder="What is the affordable downtime/unavailability for the solution? (in mSecs/Sec/Min/Hour)"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_BUSINESS_CRITICALITY')"
                     aria-describedby="businessCriticality-help"/>
            </div>
            <div class="col-3 align-content-center">
              <label for="dataPrivacy">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_DATA_PRIVACY')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="dataPrivacy"
                     [(ngModel)]="requirementNonFunctionalInfo.dataPrivacy" size="70"
                     placeholder="State if the data need to be signed/encrypted either for regulatory or due to organizational policies"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_DATA_PRIVACY')"
                     aria-describedby="dataPrivacy-help"/>
            </div>
            <div class="col-12">
              <p-divider></p-divider>
            </div>
            <div class="col-12 align-text-center">
              <span class="text-xl font-bold">{{ fieldsService.getLabel('NON_FUNCTIONAL_QUALITY_LABEL') }}</span>
            </div>

            <div class="col-3 align-content-center">
              <label for="transformation">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_TRANSFORMATION')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <p-checkbox [(ngModel)]="requirementNonFunctionalInfo.transformation"
                          tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_TRANSFORMATION')"
                          [binary]="true" inputId="transformation"></p-checkbox>
            </div>
            <div class="col-3  align-content-center">
              <label for="routing">{{ fieldsService.getLabel('NON_FUNCTIONAL_ROUTING') }}</label>
            </div>
            <div class="col-9 align-content-center">
              <p-checkbox [binary]="true" [(ngModel)]="requirementNonFunctionalInfo.routing"
                          tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_ROUTING')"
                          inputId="routing"></p-checkbox>
            </div>
            <div class="col-3  align-content-center">
              <label for="protocolConversion">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_PROTOCOL')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <p-checkbox [binary]="true"
                          [(ngModel)]="requirementNonFunctionalInfo.protocolConversion"
                          tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_PROTOCOL')"
                          inputId="protocolConversion"></p-checkbox>
            </div>
            <div class="col-3  align-content-center">
              <label for="messageSequencng">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_MESSAGE_SEQUENCING')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <p-checkbox [binary]="true" [(ngModel)]="requirementNonFunctionalInfo.msgSequencing"
                          tooltipPosition="left"
                          [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_MESSAGE_SEQUENCING')"
                          inputId="messageSequencng"></p-checkbox>
            </div>
            <div class="col-3  align-content-center">
              <label for="integrationItaap">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_TRACK_TRACE')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <p-checkbox [binary]="true" [(ngModel)]="requirementNonFunctionalInfo.trackNTrace"
                          tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_TRACK_TRACE')"
                          inputId="integrationItaap"></p-checkbox>
            </div>
            <div class="col-3  align-content-center">
              <label for="pesristenceAndArchiving">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_PERSISTENCE')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <p-checkbox [binary]="true" [(ngModel)]="requirementNonFunctionalInfo.persistence"
                          tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_PERSISTENCE')"
                          inputId="pesristenceAndArchiving"></p-checkbox>
            </div>
            <div class="col-3  align-content-center">
              <label for="senderTechnicalDetails">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_STD')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
                                    <textarea rows="2" [(ngModel)]="requirementNonFunctionalInfo.senderTechnicalDetails"
                                              cols="75" pInputTextarea
                                              placeholder="State the technical aspects of the Sending system. Note: Please list what can be done, not what has been done in the past."
                                              tooltipPosition="left"
                                              [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_STD')"
                                              aria-describedby="senderTechnicalDetails-help"></textarea>
            </div>
            <div class="col-3  align-content-center">
              <label for="receiverTechnicalDetails">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_RTD')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
                                    <textarea rows="2"
                                              [(ngModel)]="requirementNonFunctionalInfo.receiverTechnicalDetails"
                                              cols="75"
                                              pInputTextarea
                                              placeholder="State the technical aspects of the Receiving system. Note: Please list what can be done, not what has been done in the past."
                                              tooltipPosition="left"
                                              [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_RTD')"
                                              aria-describedby="receiverTechnicalDetails-help"></textarea>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset [toggleable]="false" styleClass="mt-3">
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
              <span class="font-bold" tooltipPosition="left"
                    [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_DATA_INFO')">{{ fieldsService.getLabel('NON_FUNCTIONAL_DATA_INFO') }}</span>
            </div>
          </ng-template>
          <div class="grid p-fluid">
            <div class="col-3  align-content-center">
              <label for="refreshFrequency">{{ fieldsService.getLabel('NON_FUNCTIONAL_REFRESH_FREQ') }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="refreshFrequency" size="70"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_REFRESH_FREQ')"
                     [(ngModel)]="requirementNonFunctionalInfo.refreshFrequency"/>
            </div>
            <div class="col-3  align-content-center">
              <label for="dimentionType">{{ fieldsService.getLabel('NON_FUNCTIONAL_DIMENTION_TYPE') }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="dimentionType" size="70"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_DIMENTION_TYPE')"
                     [(ngModel)]="requirementNonFunctionalInfo.dimentionType"/>
            </div>
            <div class="col-3  align-content-center">
              <label for="snapshot">{{
                  fieldsService.getLabel('NON_FUNCTIONAL_SNAPSHOT')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="snapshot" size="70"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('NON_FUNCTIONAL_SNAPSHOT')"
                     [(ngModel)]="requirementNonFunctionalInfo.snapshot"/>
            </div>
          </div>
        </p-fieldset>

      </p-tabPanel>
      <p-tabPanel header="{{ fieldsService.getLabel('COMPLIANCE_TAB_PANEL') }}">
        <div class="grid">
          <div class="col-3  align-content-center">
            <label for="sox">{{ fieldsService.getLabel('COMPLIANCE_SOX') }}</label>
          </div>
          <div class="col-9 align-content-center">
            <p-checkbox [binary]="true" [(ngModel)]="requirementComplianceInfo.sox"
                        tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('COMPLIANCE_SOX')"
                        inputId="sox"></p-checkbox>
          </div>

          <div class="col-3  align-content-center">
            <label for="security">{{ fieldsService.getLabel('COMPLIANCE_SECURITY') }}</label>
          </div>
          <div class="col-9 align-content-center">
            <p-checkbox [binary]="true" [(ngModel)]="requirementComplianceInfo.security"
                        tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('COMPLIANCE_SECURITY')"
                        inputId="security"></p-checkbox>
          </div>
          <div class="col-3  align-content-center">
            <label for="privacy">{{ fieldsService.getLabel('COMPLIANCE_PRIVACY') }}</label>
          </div>
          <div class="col-9 align-content-center">
            <p-checkbox [binary]="true" [(ngModel)]="requirementComplianceInfo.privacy"
                        tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('COMPLIANCE_PRIVACY')"
                        inputId="privacy"></p-checkbox>
          </div>

          <div class="col-3  align-content-center">
            <label for="qms">{{ fieldsService.getLabel('COMPLIANCE_QMS') }}</label>
          </div>
          <div class="col-9 align-content-center">
            <p-checkbox [binary]="true" [(ngModel)]="requirementComplianceInfo.qms"
                        tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('COMPLIANCE_QMS')"
                        inputId="qms"></p-checkbox>
          </div>

          <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12"
               *ngIf="requirementComplianceInfo.qms" style="display: inline-flex;">
            <div class="col-3  align-content-center">
              <label for="valgEntityId">{{
                  fieldsService.getLabel('COMPLIANCE_VALGENESIS_ID')
                }}</label>
            </div>
            <div class="col-9 align-content-center">
              <input pInputText id="valgEntityId"
                     tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('COMPLIANCE_VALGENESIS_ID')"
                     [(ngModel)]="requirementComplianceInfo.valgEntityId"
                     aria-describedby="messageSize-help"/>
            </div>
          </div>

          <div class="col-3  align-content-center">
            <label for="qsia">{{ fieldsService.getLabel('COMPLIANCE_QSIA') }}</label>
          </div>
          <div class="col-9 align-content-center">
            <p-checkbox [binary]="true" [(ngModel)]="requirementComplianceInfo.qsia"
                        tooltipPosition="left" [pTooltip]="fieldsService.getToolTip('COMPLIANCE_QSIA')"
                        inputId="qsia"></p-checkbox>
          </div>

          <div class="col-9 align-content-center" style="display: inline-flex;"
               *ngFor="let item of requirementComplianceInfo.compliance">
            <div class="col-4 xs:col-4 sm:col-4 lg:col-4 xl:col-4">
              <input pInputText id="program" [(ngModel)]="item.key"
                     aria-describedby="program-help"/>
            </div>
            <div class="col-9 align-content-center">
              <p-checkbox [(ngModel)]="item.value" [binary]="true" inputId="program"></p-checkbox>
            </div>

          </div>


        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<div class="grid grid-nogutter justify-content-between">
  <p-button label="{{ fieldsService.getLabel('BACK_BUTTON') }}" (onClick)="prevPage()"
            icon="pi pi-angle-left"></p-button>
  <p-button label="{{ fieldsService.getLabel('SAVE_FOR_LATER') }}" *ngIf="visibleSaveButton"
            (onClick)="savePage()" iconPos="right"></p-button>
  <p-button label="{{ fieldsService.getLabel('NEXT_BUTTON') }}" (onClick)="nextPage()"
            icon="pi pi-angle-right"></p-button>
</div>
