<p-toast></p-toast>
<p-toast key="success"></p-toast>
<p-toast key="error"></p-toast>
<div class="card grid">
    <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
        <p-toolbar>
            <div class="p-toolbar-group-center">
                <p-dropdown appendTo="body" (onChange)="onCategoryChange()"  [options]="demandCategories" [(ngModel)]="selectedDemandCategory"
                    placeholder="Filter Demand"></p-dropdown>
            </div>
        </p-toolbar>

        <p-tabView [activeIndex]="eventService.selectedDemandTabIndex" (onChange)="onTabChange($event)">
            <p-tabPanel header="My Demands ({{allCurrentMyDemands.length}})">
                <!-- <p-button class="p-link layout-topbar-button" label="My Demands"
                    badge="{{allDemands.myDemands.length}}">
                </p-button>
                <p-badge [value]="allDemands.myDemands.length" severity="success" /> -->
                <div *ngIf="allCurrentMyDemands">
                    <p-table [value]="allCurrentMyDemands" selectionMode="single" [(selection)]="selectedDemand"
                        (onRowSelect)="onDemandSelect($event, true, false)" [tableStyle]="{ 'min-width': '40rem' }"
                        [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="actionTime">Demand Intake Id <p-sortIcon
                                        field="demandIntakeId"></p-sortIcon></th>
                                <th pSortableColumn="topicId">Title <p-sortIcon field="title"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Request Date <p-sortIcon
                                        field="requestedDate"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Requested By <p-sortIcon
                                        field="requestedBy"></p-sortIcon>
                                </th>
                                <th pSortableColumn="actionTime">Status <p-sortIcon field="status"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-demand let-ri="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="demand">
                                <td>{{ demand.introduction['demandIntakeId'] }}</td>
                                <td>{{ demand.introduction['title'] }}</td>
                                <td>{{ demand.requesterInfo['requestedDate'] | date: 'MMM dd, yyyy'}}</td>
                                <td>{{ demand.introduction['requestedBy'] }}</td>
                                <td>
                                    <span [class]="'align-self-center demand-badge status-' 
                                    + demandIntakeService.getDemandStatusValue(demand.introduction['status'])">
                                        {{ demand.introduction['statusLabel'] }}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>You dont have any demand!</td>
                                </tr>
                        </ng-template>
                    </p-table>
                </div>

            </p-tabPanel>
            <p-tabPanel header="Pending Demands ({{allCurrentPendingDemands.length}})" *ngIf="!isRequester">
                <div *ngIf="allCurrentPendingDemands">
                    <p-table [value]="allCurrentPendingDemands" selectionMode="single" [(selection)]="selectedDemand"
                        (onRowSelect)="onDemandSelect($event, false, false)" [tableStyle]="{ 'min-width': '40rem' }"
                        [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="actionTime">Demand Intake Id <p-sortIcon
                                        field="demandIntakeId"></p-sortIcon></th>
                                <th pSortableColumn="topicId">Title <p-sortIcon field="title"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Request Date <p-sortIcon
                                        field="requestedDate"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Requested By <p-sortIcon
                                        field="requestedBy"></p-sortIcon>
                                </th>
                                <th pSortableColumn="actionTime">Status <p-sortIcon field="status"></p-sortIcon></th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-demand let-ri="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="demand">
                                <td>{{ demand.introduction['demandIntakeId'] }}</td>
                                <td>{{ demand.introduction['title'] }}</td>
                                <td>{{ demand.requesterInfo['requestedDate'] | date: 'MMM dd, yyyy'}}</td>
                                <td>{{ demand.introduction['requestedBy'] }}</td>
                                <td>{{ demand.introduction['statusLabel'] }}</td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Hurray, you dont have any pending demand!</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="My Demands as a Stakeholder ({{allCurrentMyDemandsAsSH.length}})">
                <div *ngIf="allCurrentMyDemandsAsSH">
                    <p-table [value]="allCurrentMyDemandsAsSH" selectionMode="single"
                        [(selection)]="selectedDemand" (onRowSelect)="onDemandSelect($event, false, true)"
                        [tableStyle]="{ 'min-width': '40rem' }" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="actionTime">Demand Intake Id <p-sortIcon
                                        field="demandIntakeId"></p-sortIcon></th>
                                <th pSortableColumn="topicId">Title <p-sortIcon field="title"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Request Date <p-sortIcon
                                        field="requestedDate"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Requested By <p-sortIcon
                                        field="requestedBy"></p-sortIcon>
                                </th>
                                <th pSortableColumn="actionTime">Status <p-sortIcon field="status"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-demand let-ri="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="demand">
                                <td>{{ demand.introduction['demandIntakeId'] }}</td>
                                <td>{{ demand.introduction['title'] }}</td>
                                <td>{{ demand.requesterInfo['requestedDate'] | date: 'MMM dd, yyyy'}}</td>
                                <td>{{ demand.introduction['requestedBy'] }}</td>
                                <td>{{ demand.introduction['statusLabel'] }}</td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td></td>
                                <td></td>
                                <td>You dont have any demand as a stakeholder!</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </p-tabPanel>

        </p-tabView>
    </div>
</div>