<p-toast></p-toast>
<p-toast key="success"></p-toast>
<p-toast key="error"></p-toast>
<div class="card grid">
    <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
        <p-toolbar [style]="{ 'margin-bottom':'0.5rem', 'margin-top':'-1.5rem' }">
            <div class="p-toolbar-group-start">
                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-9">
                    <label>Filter Demand by your action</label>
                </div>
                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                    <p-dropdown appendTo="body" (onChange)="onCategoryChange()" [options]="demandCategories"
                        [(ngModel)]="selectedDemandCategory" placeholder="Filter Demand"></p-dropdown>
                </div>
            </div>
            <div class="p-toolbar-group-center">
                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-9">
                    <label>Filter Demand by status</label>
                </div>
                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                    <p-dropdown appendTo="body" (onChange)="onStatusChange()" [options]="demandStatusList"
                        [(ngModel)]="selectedDemandStatus" placeholder="Filter Demand"></p-dropdown>
                </div>
            </div>
            <div class="p-toolbar-group-end"></div>
        </p-toolbar>

        <p-tabView [activeIndex]="eventService.selectedDemandTabIndex" (onChange)="onTabChange($event)">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex flex-wrap gap-2">
                        <span>My Demands </span>
                        <p-badge *ngIf="allCurrentMyDemands.length > 0" value="{{allCurrentMyDemands.length}}"
                            severity="success" />
                    </div>
                </ng-template>

                <div *ngIf="allCurrentMyDemands">
                    <p-table [value]="allCurrentMyDemands" styleClass="p-datatable-sm" selectionMode="single"
                        [(selection)]="selectedDemand" (onRowSelect)="onDemandSelect($event, true, false)"
                        [tableStyle]="{ 'min-width': '40rem' }" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="actionTime">Demand Intake Id <p-sortIcon
                                        field="demandIntakeId"></p-sortIcon></th>
                                <th pSortableColumn="topicId">Title <p-sortIcon field="title"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Request Date <p-sortIcon
                                        field="requestedDate"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Requested By <p-sortIcon
                                        field="requestedBy"></p-sortIcon>
                                </th>
                                <th pSortableColumn="actionTime">Status <p-sortIcon field="status"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-demand let-ri="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="demand">
                                <td>{{ demand.introduction['demandIntakeId'] }}</td>
                                <td>{{ demand.introduction['title'] }}</td>
                                <td>{{ demand.requesterInfo['requestedDate'] | date: 'MMM dd, yyyy'}}</td>
                                <td>{{ demand.introduction['requestedBy'] }}</td>
                                <td>
                                    <span [class]="'align-self-center demand-badge status-' 
                                    + demandIntakeService.getDemandStatusValueInLower(demand.introduction['status'])">
                                        {{ demandIntakeService.getDemandStatusValue(demand.introduction['status'] )}}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td></td>
                                <td></td>
                                <td>You dont have any demand!</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </p-tabPanel>
            <p-tabPanel *ngIf="!isRequester">
                <ng-template pTemplate="header">
                    <div class="flex flex-wrap gap-2">
                        <span>Pending Demands</span>
                        <p-badge *ngIf="allCurrentPendingDemands.length > 0" value="{{allCurrentPendingDemands.length}}"
                            severity="success" />
                    </div>
                </ng-template>
                <div *ngIf="allCurrentPendingDemands">
                    <p-table [value]="allCurrentPendingDemands" selectionMode="single" [(selection)]="selectedDemand"
                        (onRowSelect)="onDemandSelect($event, false, false)" styleClass="p-datatable-sm"
                        [tableStyle]="{ 'min-width': '40rem' }" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="actionTime">Demand Intake Id <p-sortIcon
                                        field="demandIntakeId"></p-sortIcon></th>
                                <th pSortableColumn="topicId">Title <p-sortIcon field="title"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Request Date <p-sortIcon
                                        field="requestedDate"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Requested By <p-sortIcon
                                        field="requestedBy"></p-sortIcon>
                                </th>
                                <th pSortableColumn="actionTime">Status <p-sortIcon field="status"></p-sortIcon></th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-demand let-ri="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="demand">
                                <td>{{ demand.introduction['demandIntakeId'] }}</td>
                                <td>{{ demand.introduction['title'] }}</td>
                                <td>{{ demand.requesterInfo['requestedDate'] | date: 'MMM dd, yyyy'}}</td>
                                <td>{{ demand.introduction['requestedBy'] }}</td>
                                <td><span [class]="'align-self-center demand-badge status-' 
                                    + demandIntakeService.getDemandStatusValue(demand.introduction['status'])">
                                        {{ demand.introduction['statusLabel'] }}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Hurray, you dont have any pending demand!</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex flex-wrap gap-2">
                        <span>My Demands as a Stakeholder</span>
                        <p-badge *ngIf="allCurrentMyDemandsAsSH.length > 0" value="{{allCurrentMyDemandsAsSH.length}}"
                            severity="success" />
                    </div>
                </ng-template>
                <div *ngIf="allCurrentMyDemandsAsSH">
                    <p-table [value]="allCurrentMyDemandsAsSH" styleClass="p-datatable-sm" selectionMode="single"
                        [(selection)]="selectedDemand" (onRowSelect)="onDemandSelect($event, false, true)"
                        [tableStyle]="{ 'min-width': '40rem' }" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="actionTime">Demand Intake Id <p-sortIcon
                                        field="demandIntakeId"></p-sortIcon></th>
                                <th pSortableColumn="topicId">Title <p-sortIcon field="title"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Request Date <p-sortIcon
                                        field="requestedDate"></p-sortIcon></th>
                                <th pSortableColumn="actionTime">Requested By <p-sortIcon
                                        field="requestedBy"></p-sortIcon>
                                </th>
                                <th pSortableColumn="actionTime">Status <p-sortIcon field="status"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-demand let-ri="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="demand">
                                <td>{{ demand.introduction['demandIntakeId'] }}</td>
                                <td>{{ demand.introduction['title'] }}</td>
                                <td>{{ demand.requesterInfo['requestedDate'] | date: 'MMM dd, yyyy'}}</td>
                                <td>{{ demand.introduction['requestedBy'] }}</td>
                                <td><span [class]="'align-self-center demand-badge status-' 
                                    + demandIntakeService.getDemandStatusValue(demand.introduction['status'])">
                                        {{ demand.introduction['statusLabel'] }}
                                    </span></td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td></td>
                                <td></td>
                                <td>You dont have any demand as a stakeholder!</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </p-tabPanel>

        </p-tabView>
    </div>
</div>