<p-card>
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                <div
                    *ngIf="!this.showTab('integration') && !this.showTab('dataModelling') && !this.showTab('adlL1') && !this.showTab('adlL2') && !this.showTab('gold') && !this.showTab('mdm') && !this.showTab('ia')">
                    <p>Please Select Solution Direction!</p>
                </div>
                <p-tabView [activeIndex]="eventService.selectedEADITabIndex" (onChange)="onTabChange($event)">
                    <p-tabPanel header="Integration/ITaaP" *ngIf="showTab('integration')">
                        <div class="grid">
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="platformsCapabilityDef">Platforms Capability-definition</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="platformsCapabilityDef" type="text"
                                    [(ngModel)]="eADIInfo.platformsCapabilityDef"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="pAndCSystems">Producer and Consumer Systems</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="title" type="text" [(ngModel)]="eADIInfo.producerAndConsumerSystems"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="philipsCapabilityApis">Philips Capability APIs</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="capabilityAPI" type="text" [(ngModel)]="eADIInfo.capabilityAPI"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="dataModelDefinition">Data Model Definition</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="dataModelDefinition" type="text" [(ngModel)]="eADIInfo.dataModelDefinition"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>

                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="additionalInfo">Additional Info</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="title" type="text" [(ngModel)]="eADIInfo.additionalInfo"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Data Model" *ngIf="showTab('dataModelling')">
                        <div>
                            <div class="grid">
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="dataModelType">Demand Model Type</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input type="radio" id="dm1" name="dataModelType" checked="checked"
                                        [(ngModel)]="eADIInfo.dataModel.dataModelType" value="New Model">
                                    <label for="dm1">New Model</label> &nbsp;
                                    <input type="radio" id="dm2" name="dataModelType"
                                        [(ngModel)]="eADIInfo.dataModel.dataModelType" value="Change To Existing Model">
                                    <label for="dm2">Change To Existing Model</label> &nbsp;
                                    <input type="radio" id="dm3" name="dataModelType"
                                        [(ngModel)]="eADIInfo.dataModel.dataModelType" value="Target Date Postponement">
                                    <label for="dm3">Target Date Postponement</label>
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="dataDomain">Data Domain</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input id="dataDomain" type="text" [(ngModel)]="eADIInfo.dataModel.dataDomain"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="modelName">Model Name</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input id="modelName" type="text" [(ngModel)]="eADIInfo.dataModel.modelName"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="modelType">Model Type</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input type="radio" id="mt1" name="modelType" checked="checked"
                                        [(ngModel)]="eADIInfo.dataModel.modelType" value="Conceptual">
                                    <label for="mt1">Conceptual</label> &nbsp;
                                    <input type="radio" id="mt2" name="modelType"
                                        [(ngModel)]="eADIInfo.dataModel.modelType" value="Logical">
                                    <label for="mt2">Logical</label> &nbsp;
                                    <input type="radio" id="mt3" name="modelType"
                                        [(ngModel)]="eADIInfo.dataModel.modelType" value="Physical">
                                    <label for="mt3">Physical</label>
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="requestingProgram">Requesting Program</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input id="requestingProgram" type="text"
                                        [(ngModel)]="eADIInfo.dataModel.requestingProgram"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="isAPIRelevant">API Relevant</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="eADIInfo.dataModel.isAPIRelevant"
                                        inputId="isAPIRelevant"></p-checkbox>
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="relevantITApplication">Relevant IT Application</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input id="relevantITApplication" type="text"
                                        [(ngModel)]="eADIInfo.dataModel.relevantITApplication"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="businessDataObject">Business Data Object</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input id="businessDataObject" type="text"
                                        [(ngModel)]="eADIInfo.dataModel.businessDataObject"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="isMappingReqProvided">Detailed Mapping Requirements Provided</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="eADIInfo.dataModel.isMappingReqProvided"
                                        inputId="isMappingReqProvided"></p-checkbox>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="ADL L1" *ngIf="showTab('adlL1')">
                        <div>
                            <div class="grid">
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="dataDemandType">Data Demand Type</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input type="radio" id="dt1" name="dataDemandType"
                                        [(ngModel)]="eADIInfo.adlL1.dataDemandType" value="New Data Set Onboarding">
                                    <label for="dt1">New Data Set Onboarding</label> &nbsp;
                                    <input type="radio" id="dt2" name="dataDemandType"
                                        [(ngModel)]="eADIInfo.adlL1.dataDemandType" value="Data Set Enhancement">
                                    <label for="dt2">Data Set Enhancement (addition of tables/fields)</label> &nbsp;
                                    <input type="radio" id="dt3" name="dataDemandType"
                                        [(ngModel)]="eADIInfo.adlL1.dataDemandType" value="Data Set Modifications">
                                    <label for="dt3">Data Set Modifications</label>
                                </div>

                                <p-fieldset legend="Source Details">
                                    <div class="grid">
                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="sourceSystemName" style="width: 100px">System
                                                Name</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="sourceSystemName" type="text"
                                                [(ngModel)]="eADIInfo.adlL1.sourceSystemName" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="kernelSid" style="width: 100px">Kernel SID</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="kernelSid" type="text"
                                                [(ngModel)]="eADIInfo.adlL1.kernelSid" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="database" style="width: 100px">Database</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="database" type="text"
                                                [(ngModel)]="eADIInfo.adlL1.database" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="module" style="width: 100px">Module</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="module" type="text" [(ngModel)]="eADIInfo.adlL1.module"
                                                size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="instance" style="width: 100px">Instance</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="instance" type="text"
                                                [(ngModel)]="eADIInfo.adlL1.instance" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="tableName" style="width: 100px">Table Name</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="tableName" type="text"
                                                [(ngModel)]="eADIInfo.adlL1.tableName" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="capability" style="width: 100px">Capability</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="capability" type="text"
                                                [(ngModel)]="eADIInfo.adlL1.capability" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="functionality"
                                                style="width: 100px">Functionality</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="functionality" type="text"
                                                [(ngModel)]="eADIInfo.adlL1.functionality" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="sourceEmail" style="width: 100px">POC Email</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="sourceEmail" type="email"
                                                (blur)="eventService.checkEmailValue(eADIInfo.adlL1.sourceEmail)"
                                                [(ngModel)]="eADIInfo.adlL1.sourceEmail" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label for="additionalDocAttached">Please attach demand additional document. Have you attached?</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <p-checkbox [binary]="true"
                                                [(ngModel)]="eADIInfo.adlL1.additionalDocAttached"
                                                inputId="additionalDocAttached"></p-checkbox>
                                        </div>
                                    </div>
                                </p-fieldset>
                                <br>
                                <p-fieldset legend="Data Feed Details">
                                    <div class="grid">
                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="dataSetName" style="width: 100px">Dataset Name</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="dataSetName" type="text"
                                                [(ngModel)]="eADIInfo.adlL1.dataSetName" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="dataSetOwner" style="width: 100px">Dataset
                                                Owner</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input required id="dataSetOwner" type="text"
                                                [(ngModel)]="eADIInfo.adlL1.dataSetOwner" size="70"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="selectedFrequency" style="width: 100px">Frequency of
                                                Data Refresh</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <p-dropdown appendTo="body" [options]="refreshFrequencies"
                                                [(ngModel)]="selectedFrequency"
                                                placeholder="Select Refresh Frequency"></p-dropdown>
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="loadStrategy" style="width: 100px">Load
                                                strategy</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <p-dropdown appendTo="body" [options]="loadStrategies"
                                                [(ngModel)]="selectedLoadStrategy"
                                                placeholder="Select Refresh Frequency"></p-dropdown>
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="extractionlogic" style="width: 100px">Incremental
                                                Extraction Logic</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <textarea id="extractionlogic" rows="3" cols="78"
                                                [(ngModel)]="eADIInfo.adlL1.extractionlogic" pInputTextarea></textarea>
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="tableAccessInfo" style="width: 100px">Table & Column
                                                Level Access Information</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <textarea id="tableAccessInfo" rows="3" cols="78"
                                                [(ngModel)]="eADIInfo.adlL1.tableAccessInfo" pInputTextarea></textarea>
                                        </div>

                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label required for="history" style="width: 100px">History Data
                                                Requirements</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <textarea id="history" rows="3" cols="78"
                                                [(ngModel)]="eADIInfo.adlL1.history" pInputTextarea></textarea>
                                        </div>
                                    </div>
                                </p-fieldset>

                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="ADL L2" *ngIf="showTab('adlL2')">
                        <div>
                            <div class="grid">
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="architectureReview" style="width: 100px">Architecture
                                        Review</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <textarea id="architectureReview" rows="3" cols="78"
                                        [(ngModel)]="eADIInfo.adlL2.architectureReview" pInputTextarea></textarea>
                                </div>

                                <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                                    <label><b>Common Data Model</b></label>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="certifiedDataModel">Certified</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="eADIInfo.adlL2.certifiedDataModel"
                                        inputId="certifiedDataModel"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="existingDataModel">Existing</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="eADIInfo.adlL2.existingDataModel"
                                        inputId="existingDataModel"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="newDataModel">New</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="eADIInfo.adlL2.newDataModel"
                                        inputId="newDataModel"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="leadBioDataModel">Lead BIO</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="eADIInfo.adlL2.leadBioDataModel"
                                        inputId="leadBioDataModel"></p-checkbox>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="ADL Gold" *ngIf="showTab('gold')">
                        <div>
                            <div class="grid">
                                <div class="col-8 xs:col-8 sm:col-8 lg:col-8 xl:col-8">
                                    <label for="kpiRequired" required style="width:100px">Does your application need
                                        KPI/Specific to business requirement which is not covered in ADL L2? </label>
                                </div>
                                <div class="col-4 xs:col-4 sm:col-4 lg:col-4 xl:col-4">
                                    <input type="radio" name="kpiRequired"
                                        [(ngModel)]="eADIInfo.gold.kpiRequired" [value]="true">
                                    <label>Yes</label>
                                    <input type="radio" name="kpiRequired" checked="checked"
                                        [(ngModel)]="eADIInfo.gold.kpiRequired" [value]="false">
                                    <label>No</label>
                                </div>

                                <div class="col-8 xs:col-8 sm:col-8 lg:col-8 xl:col-8">
                                    <label for="aggregation" required style="width:100px">Is there any
                                        aggregation/derivation from ADL L2? </label>
                                </div>
                                <div class="col-4 xs:col-4 sm:col-4 lg:col-4 xl:col-4">
                                    <input type="radio" name="aggregation"
                                        [(ngModel)]="eADIInfo.gold.aggregation" [value]="true">
                                    <label>Yes</label>
                                    <input type="radio" name="aggregation" checked="checked"
                                        [(ngModel)]="eADIInfo.gold.aggregation" [value]="false">
                                    <label>No</label>
                                </div>

                                <div class="col-8 xs:col-8 sm:col-8 lg:col-8 xl:col-8"></div>
                                <div class="col-4 xs:col-4 sm:col-4 lg:col-4 xl:col-4"
                                    *ngIf="eADIInfo.gold.aggregation==true">
                                    <input required id="aggregationInfo" type="text"
                                        placeholder="Specify Aggregation Information"
                                        [(ngModel)]="eADIInfo.gold.aggregationInfo" size="40"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                </div>

                                <div class="grid">
                                    <div class="col-4 xs:col-4 sm:col-4 lg:col-4 xl:col-4">
                                        <label required for="workbench" style="width: 100px">Which workbench Gold will
                                            be
                                            created?</label>
                                    </div>
                                    <div class="col-8 xs:col-8 sm:col-8 lg:col-8 xl:col-8">
                                        <input required id="workbench" type="text" [(ngModel)]="eADIInfo.gold.workbench"
                                            size="70"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="MDM" *ngIf="showTab('mdm')">
                        <div class="grid">
                            <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                                <label required><b>Provide details on</b></label>
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label required for="bpdh" style="width: 100px">BPDH/FIORI</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <textarea id="bpdh" rows="3" cols="78" [(ngModel)]="eADIInfo.mdm.bpdh"
                                    pInputTextarea></textarea>
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label required for="pdh" style="width: 100px">PDH</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <textarea id="pdh" rows="3" cols="78" [(ngModel)]="eADIInfo.mdm.pdh"
                                    pInputTextarea></textarea>
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label required for="fordh" style="width: 100px">FORDH</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <textarea id="fordh" rows="3" cols="78" [(ngModel)]="eADIInfo.mdm.fordh"
                                    pInputTextarea></textarea>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="I&A" *ngIf="showTab('ia')">
                        <div>
                            <div class="grid">
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="location" style="width: 100px">Location of the Report</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input required id="location" type="text" [(ngModel)]="eADIInfo.ia.location"
                                        size="70"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="team" style="width: 100px">Team for which Report is
                                        Required</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input required id="team" type="text" [(ngModel)]="eADIInfo.ia.team" size="70"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="newReportRequired" required style="width:100px">New Report
                                        Required?</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input type="radio" name="newReportRequired" checked="checked"
                                        [(ngModel)]="eADIInfo.ia.newReportRequired" [value]="true">
                                    <label>Yes</label>
                                    <input type="radio" name="newReportRequired"
                                        [(ngModel)]="eADIInfo.ia.newReportRequired" [value]="false">
                                    <label>No</label>
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="reportDescription" style="width: 100px">Report
                                        Description</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <textarea id="reportDescription" rows="3" cols="78"
                                        [(ngModel)]="eADIInfo.ia.reportDescription" pInputTextarea></textarea>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="reportUsage" style="width: 100px">Report Usage (can be used as
                                        reference/can be leveraged)</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <textarea id="reportUsage" rows="3" cols="78" [(ngModel)]="eADIInfo.ia.reportUsage"
                                        pInputTextarea></textarea>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="businessCase" style="width: 100px">Business Case (why report is
                                        required?)</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <textarea id="businessCase" rows="3" cols="78"
                                        [(ngModel)]="eADIInfo.ia.businessCase" pInputTextarea></textarea>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="refreshFrequency" style="width: 100px">Refresh
                                        Frequency</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input required id="refreshFrequency" type="text"
                                        [(ngModel)]="eADIInfo.ia.refreshFrequency" size="70"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="reportType" style="width: 100px">Report Type</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input type="radio" id="Temporary" name="reportType" checked="checked"
                                        [(ngModel)]="eADIInfo.ia.reportType" value="Temporary">
                                    <label for="Temporary">Temporary</label>
                                    <input type="radio" id="Permanent" name="reportType"
                                        [(ngModel)]="eADIInfo.ia.reportType" value="Permanent">
                                    <label for="Permanent">Permanent</label>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="projectCode" style="width: 100px">Project Code</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input required id="projectCode" type="text" [(ngModel)]="eADIInfo.ia.projectCode"
                                        size="70"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label required for="reportTool" style="width: 100px">Tool of preference for Report
                                        to be built in </label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input required id="reportTool" type="text" [(ngModel)]="eADIInfo.ia.reportTool"
                                        size="70"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                </div>

                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="designReportAttached">Design of report attached?</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="eADIInfo.ia.designReportAttached"
                                        inputId="designReportAttached"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="cdmConsumed">Existing CDM to be consumed?</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="eADIInfo.ia.cdmConsumed"
                                        inputId="cdmConsumed"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="datasetConsumed">Existing Datasets to be consumed?</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="eADIInfo.ia.datasetConsumed"
                                        inputId="datasetConsumed"></p-checkbox>
                                </div>

                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Data Quality" *ngIf="showTab('dataQuality')">
                        <div>
                            <p-fieldset legend="Data Cleaning SPOC Information">
                                <div class="grid">
                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <label required for="name" style="width: 100px">Name</label>
                                    </div>
                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <input required id="name" type="text"
                                            [(ngModel)]="eADIInfo.dataQuality.dataCleaningSpocName" size="70"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                    </div>
                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <label required for="email" style="width: 100px">Email</label>
                                    </div>
                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <input required id="email"
                                            [(ngModel)]="eADIInfo.dataQuality.dataCleaningSpocEmail" size="70"
                                            type="email"
                                            (blur)="eventService.checkEmailValue(eADIInfo.dataQuality.dataCleaningSpocEmail)"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                    </div>
                                </div>
                            </p-fieldset>
                            <br>
                            <p-fieldset legend="BPO Information">
                                <div class="grid">
                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <label required for="name" style="width: 100px">Name</label>
                                    </div>
                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <input required id="name" type="text" [(ngModel)]="eADIInfo.dataQuality.bpoName"
                                            size="70"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                    </div>
                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <label required for="email" style="width: 100px">Email</label>
                                    </div>
                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <input required id="email" type="email"
                                            (blur)="eventService.checkEmailValue(eADIInfo.dataQuality.bpoEmail)"
                                            [(ngModel)]="eADIInfo.dataQuality.bpoEmail" size="70"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                    </div>
                                </div>
                            </p-fieldset>
                            <br>
                            <p-fieldset legend="Other">
                                <div class="grid">
                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <label required for="name" style="width: 100px">Exceptions if any to the
                                            requirement [not applicable conditions]</label>
                                    </div>
                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <textarea id="description" rows="3" cols="78"
                                            [(ngModel)]="eADIInfo.dataQuality.exceptions" pInputTextarea></textarea>
                                    </div>
                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <label required for="businessKPIImpacted" style="width: 100px">Business KPI
                                            impacted</label>
                                    </div>
                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <input required id="businessKPIImpacted" type="text"
                                            [(ngModel)]="eADIInfo.dataQuality.businessKPIImpacted" size="70"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                    </div>

                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <label required for="dataRuleDescription" style="width: 100px">Data Rule
                                            Description</label>
                                    </div>
                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <textarea id="dataRuleDescription" rows="3" cols="78"
                                            [(ngModel)]="eADIInfo.dataQuality.dataRuleDescription"
                                            pInputTextarea></textarea>
                                    </div>

                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <label required for="processPEPFInScope" style="width: 100px">PEPF Process In
                                            Scope</label>
                                    </div>
                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <input required id="processPEPFInScope" type="text"
                                            [(ngModel)]="eADIInfo.dataQuality.processPEPFInScope" size="70"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
                                    </div>

                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <label for="requirementType" required style="width:100px">Requirement
                                            Type</label>
                                    </div>

                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <input type="radio" id="Global" name="approvedBudget" checked="checked"
                                            [(ngModel)]="eADIInfo.dataQuality.requirementType" value="Global">
                                        <label for="Global">Global</label>
                                        <input type="radio" id="BU/Market" name="approvedBudget"
                                            [(ngModel)]="eADIInfo.dataQuality.requirementType" value="BU/Market">
                                        <label for="BU/Market">BU/Market</label>
                                    </div>

                                    <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12"
                                        *ngIf="eADIInfo.dataQuality.requirementType == 'BU/Market'"
                                        style="display: inline-flex;">
                                        <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                            <label for="market" required>Market</label>
                                        </div>
                                        <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                            <input id="market" type="text" [(ngModel)]="eADIInfo.dataQuality.market"
                                                size="60"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                        </div>
                                    </div>

                                </div>


                            </p-fieldset>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Informatica PWC" *ngIf="showTab('informatica')">
                        <div class="grid">
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label required for="etlRequirements" style="width: 100px">ETL Requirements</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <textarea id="reportDescription" rows="3" cols="78"
                                    [(ngModel)]="eADIInfo.informatica.etlRequirements" pInputTextarea></textarea>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Azure Synapse DWH" *ngIf="showTab('azureSynapse')">
                        <div class="grid">
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label required for="azureRequirements" style="width: 100px">Azure Synapse Requirements</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <textarea id="azureRequirements" rows="3" cols="78"
                                    [(ngModel)]="eADIInfo.azureSynapse.azureRequirements" pInputTextarea></textarea>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>