<p-card>
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                <p-tabView>
                    <p-tabPanel header="ITaap & Data Model">
                        <div class="grid">
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="platformsCapabilityDef">Platforms Capability-definition</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="platformsCapabilityDef" type="text" [(ngModel)]="eADIInfo.platformsCapabilityDef" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="pAndCSystems">Producer and Consumer Systems</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="title" type="text" [(ngModel)]="eADIInfo.producerAndConsumerSystems" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="philipsCapabilityApis">Philips Capability APIs</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="capabilityAPI" type="text" [(ngModel)]="eADIInfo.capabilityAPI" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="dataModelDefinition">Data Model Definition</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="dataModelDefinition" type="text" [(ngModel)]="eADIInfo.dataModelDefinition" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="demandDocAttached">Demand Additional Document Attached</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="title" type="text" [(ngModel)]="eADIInfo.demandDocAttached" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                            <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                <label for="additionalInfo">Additional Info</label>
                            </div>
                            <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                <input id="title" type="text" [(ngModel)]="eADIInfo.additionalInfo" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="ADL SL1 & Data Model">
                        <div>
                        <h2>TBD</h2>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="ADL SL2 & Data Model">
                        <div>
                            <h2>TBD</h2>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="ADL Gold & Data Model">
                        <div>
                            <h2>TBD</h2>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="ADL Gold & Data Model">
                        <div>
                            <h2>TBD</h2>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>