<p-card>
    <ng-template pTemplate="content">
        <div class="col-12">
            <p-tabView>
                <p-tabPanel header="ITaap & Data Model">
                    <div class="grid">
                        <p-fieldset legend="API Functional Requirement">
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="platformsCapabilityDef">Platforms Capability-definition</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="pAndCSystems">Producer and Consumer systems</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="philipsCapabilityApis">Philips Capability APIS</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="dataModelDefinition">Data Model Definition</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="demandDocAttached">Demand Additional Document Attached</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="additionalInfo">Additional Info</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="ADL SL1 & Data Model">
                    <div>
                      <h2>TBD</h2>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="ADL SL2 & Data Model">
                    <div>
                        <h2>TBD</h2>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="ADL Gold & Data Model">
                    <div>
                        <h2>TBD</h2>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="ADL Gold & Data Model">
                    <div>
                        <h2>TBD</h2>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>