<p-card>
    <ng-template pTemplate="content">
        <div class="col-12">
            <p-tabView>
                <p-tabPanel header="ITaap & Data Model">
                    <div class="grid">
                        <p-fieldset legend="API Functional Requirement">
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="platformsCapabilityDef">Platforms Capability-definition</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="pAndCSystems">Producer and Consumer systems</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="philipsCapabilityApis">Philips Capability APIS</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="dataModelDefinition">Data Model Definition</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="demandDocAttached">Demand Additional Document Attached</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-6">
                                    <label for="additionalInfo">Additional Info</label>
                                </div>
                                <div class="col-6">
                                    <input id="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="ADL SL1 & Data Model">
                    <div>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="ADL Functional Requirement" inputId="adlFunctionalReq"></p-checkbox>
                            <label for="adlFunctionalReq">API Functional Requirement</label>
                        </form>
                        <form class="flex align-items-center gap-1">

                            <p-checkbox value="FR1" inputId="fr1"></p-checkbox>
                            <label for="fr1">FR1</label>
                        </form>
                        <form class="flex align-items-center gap-1">

                            <p-checkbox value="FR2" inputId="fr2"></p-checkbox>
                            <label for="fr2">FR2</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="FR3" inputId="fr3"></p-checkbox>
                            <label for="fr3">FR3</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Data Model Definition" inputId="dataModelDefinition"></p-checkbox>
                            <label for="dataModelDefinition">Data Model Definition</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Non Functional Requirement" inputId="nonFunctionalReq"></p-checkbox>
                            <label for="nonFunctionalReq">Non Functional Requirement</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Philips Capability APIS" inputId="peakVolume"></p-checkbox>
                            <label for="peakVolume">Peak Volume</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Average Volume" inputId="avgVolume"></p-checkbox>
                            <label for="avgVolume">Average Volume</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Throughput Time" inputId="throughputTime"></p-checkbox>
                            <label for="throughputTime">Throughput Time</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Message Classification" inputId="msgClassification"></p-checkbox>
                            <label for="msgClassification">Message Classification</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Peak Message Size" inputId="peakMessageSize"></p-checkbox>
                            <label for="peakMessageSize">Peak Message Size</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Average Message Size" inputId="avgMessageSize"></p-checkbox>
                            <label for="avgMessageSize">Average Message Size</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Business Criticality" inputId="businessCriticality"></p-checkbox>
                            <label for="businessCriticality">Business Criticality</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Message Timings, Frequency" inputId="messageTimings"></p-checkbox>
                            <label for="messageTimings">Message Timings, Frequency</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Max Latency" inputId="maxLatency"></p-checkbox>
                            <label for="maxLatency">Max Latency</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Demand Additional Document Attached"
                                inputId="demandDocAttached"></p-checkbox>
                            <label for="demandDocAttached">Demand Additional Document Attached</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Additional Info" inputId="additionalInfo"></p-checkbox>
                            <label for="additionalInfo">Additional Info</label>
                        </form>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="ADL SL2 & Data Model">
                    <div>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="ADL SL2 Functional Requirement"
                                inputId="adlSl2FunctionalReq"></p-checkbox>
                            <label for="adlSl2FunctionalReq">ADL SL2 Functional Requirement</label>
                        </form>
                        <form class="flex align-items-center gap-1">

                            <p-checkbox value="FR1" inputId="fr1"></p-checkbox>
                            <label for="fr1">FR1</label>
                        </form>
                        <form class="flex align-items-center gap-1">

                            <p-checkbox value="FR2" inputId="fr2"></p-checkbox>
                            <label for="fr2">FR2</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="FR3" inputId="fr3"></p-checkbox>
                            <label for="fr3">FR3</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Data Model Definition" inputId="dataModelDefinition"></p-checkbox>
                            <label for="dataModelDefinition">Data Model Definition</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Non Functional Requirement" inputId="nonFunctionalReq"></p-checkbox>
                            <label for="nonFunctionalReq">Non Functional Requirement</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Philips Capability APIS" inputId="peakVolume"></p-checkbox>
                            <label for="peakVolume">Peak Volume</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Average Volume" inputId="avgVolume"></p-checkbox>
                            <label for="avgVolume">Average Volume</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Throughput Time" inputId="throughputTime"></p-checkbox>
                            <label for="throughputTime">Throughput Time</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Message Classification" inputId="msgClassification"></p-checkbox>
                            <label for="msgClassification">Message Classification</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Peak Message Size" inputId="peakMessageSize"></p-checkbox>
                            <label for="peakMessageSize">Peak Message Size</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Average Message Size" inputId="avgMessageSize"></p-checkbox>
                            <label for="avgMessageSize">Average Message Size</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Business Criticality" inputId="businessCriticality"></p-checkbox>
                            <label for="businessCriticality">Business Criticality</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Message Timings, Frequency" inputId="messageTimings"></p-checkbox>
                            <label for="messageTimings">Message Timings, Frequency</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Max Latency" inputId="maxLatency"></p-checkbox>
                            <label for="maxLatency">Max Latency</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Demand Additional Document Attached"
                                inputId="demandDocAttached"></p-checkbox>
                            <label for="demandDocAttached">Demand Additional Document Attached</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Additional Info" inputId="additionalInfo"></p-checkbox>
                            <label for="additionalInfo">Additional Info</label>
                        </form>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="ADL Gold & Data Model">
                    <div>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="ADL SL2 Functional Requirement"
                                inputId="adlSl2FunctionalReq"></p-checkbox>
                            <label for="adlSl2FunctionalReq">ADL SL2 Functional Requirement</label>
                        </form>
                        <form class="flex align-items-center gap-1">

                            <p-checkbox value="FR1" inputId="fr1"></p-checkbox>
                            <label for="fr1">FR1</label>
                        </form>
                        <form class="flex align-items-center gap-1">

                            <p-checkbox value="FR2" inputId="fr2"></p-checkbox>
                            <label for="fr2">FR2</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="FR3" inputId="fr3"></p-checkbox>
                            <label for="fr3">FR3</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Data Model Definition" inputId="dataModelDefinition"></p-checkbox>
                            <label for="dataModelDefinition">Data Model Definition</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Non Functional Requirement" inputId="nonFunctionalReq"></p-checkbox>
                            <label for="nonFunctionalReq">Non Functional Requirement</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Philips Capability APIS" inputId="peakVolume"></p-checkbox>
                            <label for="peakVolume">Peak Volume</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Average Volume" inputId="avgVolume"></p-checkbox>
                            <label for="avgVolume">Average Volume</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Throughput Time" inputId="throughputTime"></p-checkbox>
                            <label for="throughputTime">Throughput Time</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Message Classification" inputId="msgClassification"></p-checkbox>
                            <label for="msgClassification">Message Classification</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Peak Message Size" inputId="peakMessageSize"></p-checkbox>
                            <label for="peakMessageSize">Peak Message Size</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Average Message Size" inputId="avgMessageSize"></p-checkbox>
                            <label for="avgMessageSize">Average Message Size</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Business Criticality" inputId="businessCriticality"></p-checkbox>
                            <label for="businessCriticality">Business Criticality</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Message Timings, Frequency" inputId="messageTimings"></p-checkbox>
                            <label for="messageTimings">Message Timings, Frequency</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Max Latency" inputId="maxLatency"></p-checkbox>
                            <label for="maxLatency">Max Latency</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Demand Additional Document Attached"
                                inputId="demandDocAttached"></p-checkbox>
                            <label for="demandDocAttached">Demand Additional Document Attached</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Additional Info" inputId="additionalInfo"></p-checkbox>
                            <label for="additionalInfo">Additional Info</label>
                        </form>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="ADL Gold & Data Model">
                    <div>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="ADL SL2 Functional Requirement"
                                inputId="adlSl2FunctionalReq"></p-checkbox>
                            <label for="adlSl2FunctionalReq">ADL SL2 Functional Requirement</label>
                        </form>
                        <form class="flex align-items-center gap-1">

                            <p-checkbox value="FR1" inputId="fr1"></p-checkbox>
                            <label for="fr1">FR1</label>
                        </form>
                        <form class="flex align-items-center gap-1">

                            <p-checkbox value="FR2" inputId="fr2"></p-checkbox>
                            <label for="fr2">FR2</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="FR3" inputId="fr3"></p-checkbox>
                            <label for="fr3">FR3</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Data Model Definition" inputId="dataModelDefinition"></p-checkbox>
                            <label for="dataModelDefinition">Data Model Definition</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Non Functional Requirement" inputId="nonFunctionalReq"></p-checkbox>
                            <label for="nonFunctionalReq">Non Functional Requirement</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Philips Capability APIS" inputId="peakVolume"></p-checkbox>
                            <label for="peakVolume">Peak Volume</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Average Volume" inputId="avgVolume"></p-checkbox>
                            <label for="avgVolume">Average Volume</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Throughput Time" inputId="throughputTime"></p-checkbox>
                            <label for="throughputTime">Throughput Time</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Message Classification" inputId="msgClassification"></p-checkbox>
                            <label for="msgClassification">Message Classification</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Peak Message Size" inputId="peakMessageSize"></p-checkbox>
                            <label for="peakMessageSize">Peak Message Size</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Average Message Size" inputId="avgMessageSize"></p-checkbox>
                            <label for="avgMessageSize">Average Message Size</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Business Criticality" inputId="businessCriticality"></p-checkbox>
                            <label for="businessCriticality">Business Criticality</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Message Timings, Frequency" inputId="messageTimings"></p-checkbox>
                            <label for="messageTimings">Message Timings, Frequency</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Max Latency" inputId="maxLatency"></p-checkbox>
                            <label for="maxLatency">Max Latency</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Demand Additional Document Attached"
                                inputId="demandDocAttached"></p-checkbox>
                            <label for="demandDocAttached">Demand Additional Document Attached</label>
                        </form>
                        <form class="flex align-items-center gap-1">
                            <p-checkbox value="Additional Info" inputId="additionalInfo"></p-checkbox>
                            <label for="additionalInfo">Additional Info</label>
                        </form>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>