<div class="grid">
  <div class="col-6 xs:col-6 sm:col-6 lg:col-6 xl:col-6">
    <p-card>
      <ng-template pTemplate="content">
        <div class="grid">
          <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
            <p-fieldset legend="By Stage">
              <div class="grid">
                <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                  <p-chart type="doughnut" [data]="dataStage" [options]="optionsStage"></p-chart>
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="col-6 xs:col-6 sm:col-6 lg:col-6 xl:col-6">
    <p-card>
      <ng-template pTemplate="content">
        <div class="grid">
          <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
            <p-fieldset legend="By Status">
              <div class="grid">
                <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                  <p-chart type="doughnut" [data]="dataStatus" [options]="optionsStatus"></p-chart>
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
    <p-card>
      <ng-template pTemplate="content">
        <div class="grid">
          <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
            <p-fieldset legend="Quarter wise">
              <div class="grid">
                <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                  <p-chart type="bar" [data]="data" [options]="options"></p-chart>
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>