<p-toast></p-toast>
<div class="grid col-12">
  <div class="col-12 md:col-12 lg:col-3 h-full">
    <p-fieldset [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 px-2">
      <span class="font-bold"
            [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_FIELDSET')">{{ fieldsService.getLabel('SOLUTION_DIRECTION_FIELDSET') }}</span>
        </div>
      </ng-template>
      <div class="grid p-fluid">
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" [(ngModel)]="sdInfo.integration" inputId="integration"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_INTEGRATION')"
                      [disabled]="!demandIntakeService.getSDVisibility('integration')"
                      (onChange)="emitCheckList()"></p-checkbox>
          <label for="integration">{{ fieldsService.getLabel('SOLUTION_DIRECTION_INTEGRATION') }}</label>
        </div>
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" [(ngModel)]="sdInfo.dataModelling" inputId="dataModelling"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_DATA_MODELLING')"
                      [disabled]="!demandIntakeService.getSDVisibility('dataModelling')"
                      (onChange)="emitCheckList()"></p-checkbox>
          <label for="dataModelling">{{ fieldsService.getLabel('SOLUTION_DIRECTION_DATA_MODELLING') }}</label>
        </div>
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" (onChange)="emitCheckList()" [(ngModel)]="sdInfo.adlL1"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_ADL_L1')"
                      [disabled]="!demandIntakeService.getSDVisibility('adlL1')" inputId="adlL1"></p-checkbox>
          <label for="adlL1">{{ fieldsService.getLabel('SOLUTION_DIRECTION_ADL_L1') }}</label>
        </div>
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" (onChange)="emitCheckList()" [(ngModel)]="sdInfo.adlL2"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_ADL_L2')"
                      [disabled]="!demandIntakeService.getSDVisibility('adlL2')" inputId="adlL2"></p-checkbox>
          <label for="adlL2">{{ fieldsService.getLabel('SOLUTION_DIRECTION_ADL_L2') }}</label>
        </div>
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" (onChange)="emitCheckList()" [(ngModel)]="sdInfo.gold"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_GOLD')"
                      [disabled]="!demandIntakeService.getSDVisibility('gold')" inputId="gold"></p-checkbox>
          <label for="gold">{{ fieldsService.getLabel('SOLUTION_DIRECTION_GOLD') }}</label>
        </div>
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" (onChange)="emitCheckList()" [(ngModel)]="sdInfo.mdm"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_MDM')"
                      [disabled]="!demandIntakeService.getSDVisibility('mdm')" inputId="mdm"></p-checkbox>
          <label for="mdm">{{ fieldsService.getLabel('SOLUTION_DIRECTION_MDM') }}</label>
        </div>
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" (onChange)="emitCheckList()" [(ngModel)]="sdInfo.ia"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_IANDA')"
                      [disabled]="!demandIntakeService.getSDVisibility('ia')" inputId="ia"></p-checkbox>
          <label for="ia">{{ fieldsService.getLabel('SOLUTION_DIRECTION_IANDA') }}</label>
        </div>
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" (onChange)="emitCheckList()" [(ngModel)]="sdInfo.dataQuality"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_DATA_QUALITY')"
                      [disabled]="!demandIntakeService.getSDVisibility('dataQuality')"
                      inputId="dataQuality"></p-checkbox>
          <label for="dataQuality">{{ fieldsService.getLabel('SOLUTION_DIRECTION_DATA_QUALITY') }}</label>
        </div>
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" (onChange)="emitCheckList()" [(ngModel)]="sdInfo.informatica"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_INFO_PWC')"
                      [disabled]="!demandIntakeService.getSDVisibility('informatica')"
                      inputId="informatica"></p-checkbox>
          <label for="informatica">{{ fieldsService.getLabel('SOLUTION_DIRECTION_INFO_PWC') }}</label>
        </div>
        <div class="col-12 flex align-items-center gap-1">
          <p-checkbox [binary]="true" (onChange)="emitCheckList()" [(ngModel)]="sdInfo.azureSynapse"
                      [pTooltip]="fieldsService.getToolTip('SOLUTION_DIRECTION_AZURE_SYNAPSE')"
                      inputId="azureSynapse"
                      [disabled]="!demandIntakeService.getSDVisibility('azureSynapse')"></p-checkbox>
          <label for="azureSynapse">{{ fieldsService.getLabel('SOLUTION_DIRECTION_AZURE_SYNAPSE') }}</label>
        </div>
      </div>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-12 lg:col-9">
    <app-checklist></app-checklist>
  </div>


  <div class="col-12 grid justify-content-between">
    <p-button label="{{ fieldsService.getLabel('BACK_BUTTON') }}" (onClick)="prevPage()"
              icon="pi pi-angle-left"></p-button>
    <p-button label="{{ fieldsService.getLabel('SAVE_FOR_LATER') }}" *ngIf="visibleSaveButton" (onClick)="savePage()"
              iconPos="right"></p-button>
    <p-button label="{{ fieldsService.getLabel('NEXT_BUTTON') }}" (onClick)="nextPage()" icon="pi pi-angle-right"
              iconPos="right"></p-button>
  </div>

</div>
