
    <div class="p-grid p-justify-center" style="display: flex; justify-content: center;"> 
        <div class="grid">   
            <div class="p-col-12">
                <p-card>
                    <form [formGroup]="requestorDetailsForm"(ngSubmit)="onSubmit()">
                        <div>
                            <h3><u>Requestor Details</u></h3>
                            <div class="p-field">
                                <label for="program"><i>Program :</i></label>
                                &nbsp;<input type="text" id="program" formControlName="program">
                            </div><br>
                            <div class="p-field">
                                <label><i>Domain :</i></label>
                                &nbsp;&nbsp;<input type="text" id="domain" formControlName="domain">
                            </div><br>
                            <div class="p-field">
                                <label><i>Program SPOC :</i></label>
                                &nbsp;<input type="text" id="programSPOC" formControlName="programSPOC">
                            </div><br>
                            <div class="p-field">
                                <label><i>Request Date :</i></label>
                                &nbsp;&nbsp;&nbsp;<input type="text"  id="requestDate" formControlName="requestDate">
                            </div><br>
                        </div>
                            
                        <div>
                            <h3><u>Requirements</u></h3>
                            <div class="p-field">
                                <label><i>Problem Statement :</i></label>
                                &nbsp;<textarea formControlName="problemStatement"  id="problemStatement"></textarea>
                            </div><br>
                            <div class="p-field">
                                <label><i>Demand Scope :</i></label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea formControlName="demandScope" id="demandScope"></textarea>
                            </div><br>
                            <div class="p-field">
                                <label><i>Business Value :</i></label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea formControlName="businessValue" id="businessValue"></textarea>
                            </div><br>
                            <div class="p-field">
                                <label><i>Go Live Approach :</i></label>
                                &nbsp;<input type="date" formControlName="goLiveApproach" id="goLiveApproach">
                            </div><br>
                            <div class="p-field">
                                <label><i>Tentative Go Live :</i></label>
                                &nbsp;&nbsp;<input type="date" formControlName="tentativeGoLive" id="tentativeGoLive">
                            </div><br>
                        </div>
                            
                        <div>
                            <h3><u>Solution Directions</u></h3>
                            <div class="p-field">
                                <input type="radio" (change)="setSolution($event)" id="integration" name="solutionDirection" value="Integration/ITaaP">
                                <label for="integration"><i>Integration/ITaaP</i></label><br>
                                
                                <input type="radio" (change)="setSolution($event)" id="dataModel" name="solutionDirection" value="Data Modelling">
                                <label for="dataModel"><i>Data Modelling</i></label><br>

                                <input type="radio" (change)="setSolution($event)" id="dataModel" name="solutionDirection" value="ADL SL1">
                                <label for="dataModel"><i>ADL SL1</i></label><br>

                                <input type="radio" (change)="setSolution($event)" id="dataModel" name="solutionDirection" value="ADL SL2">
                                <label for="dataModel"><i>ADL SL2</i></label><br>

                                <input type="radio" (change)="setSolution($event)" id="dataModel" name="solutionDirection" value="Gold">
                                <label for="dataModel"><i>Gold</i></label><br>

                                <input type="radio" (change)="setSolution($event)" id="mdm" name="solutionDirection" value="MDM">
                                <label for="mdm"><i>MDM</i></label><br>

                                <input type="radio" (change)="setSolution($event)" id="i&a" name="solutionDirection" value="I&A">
                                <label for="i&a"><i>I&A</i></label><br>
                            </div >
                            
                        </div><br>

                        <button type="submit" pButton icon="pi pi-check" label="Submit" class="p-button p-button-success">Submit</button>

                    </form>
                </p-card>
            </div><br><br>
       </div>
    </div>        
           
<div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
    <p-tabView [(activeIndex)]="activeTabIndex">
        <p-tabPanel header="ITaap & Data Model">
            <div>
                <form [formGroup]="screen1Form">
                    <div>
                        <label >
                            <input type="checkbox" formControlName="apiFunctionalReq"> API Functional Requirement<br>
                            &nbsp;&nbsp;<input type="checkbox"  formControlName="platformsCapabilityDef"> Platforms Capability-definition<br>
                            &nbsp;&nbsp;<input type="checkbox"   formControlName="pAndCSystems"> Producer and Consumer systems<br>
                            &nbsp;&nbsp;<input type="checkbox"   formControlName="philipsCapabilityApis"> Philips Capability APIS<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="dataModelDefinition"> Data Model Definition<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="nonFunctionalReq"> Non Functional Requirement<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakVolume"> Peak Volume<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="avgVolume"> Average Volume<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="throughputTime"> Throughput Time<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="msgClassification"> Message Classification<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakMessageSize"> Peak Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="avgMessageSize"> Average Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="businessCriticality"> Business Criticality<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="messageTimings"> Message Timings, Frequency<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="maxLatency"> Max Latency<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="demandDocAttached"> Demand Additional Document Attached<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="additionalInfo"> Additional Info<br>
                        </label>
                    </div>
            </form>  
            </div>            
        </p-tabPanel>
        <p-tabPanel header="||| ADL SL1 & Data Model">
            <div>
                <form [formGroup]="screen2Form">
                    <div>
                        <label >
                            <input type="checkbox" formControlName="adlFunctionalReq"> ADL Functional Requirement<br>
                            &nbsp;&nbsp;<input type="checkbox"  formControlName="fr1"> FR1<br>
                            &nbsp;&nbsp;<input type="checkbox"   formControlName="fr2"> FR2<br>
                            &nbsp;&nbsp;<input type="checkbox"   formControlName="fr3"> FR3<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="dataModelDefinition"> Data Model Definition<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="nonFunctionalReq"> Non Functional Requirement<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakVolume"> Peak Volume<br>
                            &nbsp;&nbsp; <input type="checkbox" formControlName="avgVolume"> Average Volume<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="throughputTime"> Throughput Time<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="msgClassification"> Message Classification<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakMessageSize"> Peak Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="avgMessageSize"> Average Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="businessCriticality"> Business Criticality<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="messageTimings"> Message Timings, Frequency<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="maxLatency"> Max Latency<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="demandDocAttached"> Demand Additional Document Attached<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="additionalInfo"> Additional Info<br>
                        </label>
                    </div>
            </form>  
            </div>           
        </p-tabPanel>
        <p-tabPanel header="||| ADL SL2 & Data Model">
            <div>
                <form [formGroup]="screen3Form">
                    <div>
                        <label >
                            <input type="checkbox" formControlName="adlSl2FunctionalReq"> ADL SL2 Functional Requirement<br>
                            &nbsp;&nbsp;<input type="checkbox"  formControlName="fr1"> FR1<br>
                            &nbsp;&nbsp;<input type="checkbox"   formControlName="fr2"> FR2<br>
                            &nbsp;&nbsp;<input type="checkbox"   formControlName="fr3"> FR3<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="dataModelDefinition"> Data Model Definition<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="nonFunctionalReq"> Non Functional Requirement<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakVolume"> Peak Volume<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="avgVolume"> Average Volume<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="throughputTime"> Throughput Time<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="msgClassification"> Message Classification<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakMessageSize"> Peak Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="avgMessageSize"> Average Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="businessCriticality"> Business Criticality<br>
                            &nbsp;&nbsp; <input type="checkbox" formControlName="messageTimings"> Message Timings, Frequency<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="maxLatency"> Max Latency<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="demandDocAttached"> Demand Additional Document Attached<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="additionalInfo"> Additional Info<br>
                        </label>
                    </div>
            </form>  
            </div>    
        </p-tabPanel>
        <p-tabPanel header="||| MDM & Data Model">
            <div>
                <form [formGroup]="screen3Form">
                    <div>
                        <label >
                            <input type="checkbox" formControlName="adlSl2FunctionalReq"> ADL SL2 Functional Requirement<br>
                            &nbsp;&nbsp; <input type="checkbox"  formControlName="fr1"> FR1<br>
                            &nbsp;&nbsp; <input type="checkbox"   formControlName="fr2"> FR2<br>
                            &nbsp;&nbsp;<input type="checkbox"   formControlName="fr3"> FR3<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="dataModelDefinition"> Data Model Definition<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="nonFunctionalReq"> Non Functional Requirement<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakVolume"> Peak Volume<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="avgVolume"> Average Volume<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="throughputTime"> Throughput Time<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="msgClassification"> Message Classification<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakMessageSize"> Peak Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="avgMessageSize"> Average Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="businessCriticality"> Business Criticality<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="messageTimings"> Message Timings, Frequency<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="maxLatency"> Max Latency<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="demandDocAttached"> Demand Additional Document Attached<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="additionalInfo"> Additional Info<br>
                        </label>
                    </div>
            </form>  
            </div>    
        </p-tabPanel>
        <p-tabPanel header="||| ADL Gold & Data Model">
            <div>
                <form [formGroup]="screen3Form">
                    <div>
                        <label >
                            <input type="checkbox" formControlName="adlSl2FunctionalReq"> ADL SL2 Functional Requirement<br>
                            &nbsp;&nbsp;<input type="checkbox"  formControlName="fr1"> FR1<br>
                            &nbsp;&nbsp;<input type="checkbox"   formControlName="fr2"> FR2<br>
                            &nbsp;&nbsp;<input type="checkbox"   formControlName="fr3"> FR3<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="dataModelDefinition"> Data Model Definition<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="nonFunctionalReq"> Non Functional Requirement<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakVolume"> Peak Volume<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="avgVolume"> Average Volume<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="throughputTime"> Throughput Time<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="msgClassification"> Message Classification<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="peakMessageSize"> Peak Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="avgMessageSize"> Average Message Size<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="businessCriticality"> Business Criticality<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="messageTimings"> Message Timings, Frequency<br>
                            &nbsp;&nbsp;<input type="checkbox" formControlName="maxLatency"> Max Latency<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="demandDocAttached"> Demand Additional Document Attached<br>
                        </label>
                    </div>
                    <div>
                        <label >
                            <input type="checkbox" formControlName="additionalInfo"> Additional Info<br>
                        </label>
                    </div>
            </form>  
            </div>    
        </p-tabPanel>
    </p-tabView>
</div>
