<div class="grid">
  <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
    <p-card>
      <ng-template pTemplate="content">
        <div class="grid">
          <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
            <p-fieldset legend="CCB Management">
              <div class="grid">
                <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                  <p-table [value]="ccbList">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Email Address</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th>Updated On</th>
                        <th>Action</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-ccb>
                      <tr>
                        <td>{{ ccb.email }}</td>
                        <td>{{ ccb.status }}</td>
                        <td>{{ ccb.createdOn }}</td>
                        <td>{{ ccb.updatedOn }}</td>
                        <td>
                          <span class="pi pi-trash"></span>
                          &nbsp;
                          <span class="pi pi-user-edit"></span>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
              <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                <p-button label="Add" icon="pi pi-plus"></p-button>
              </div>
            </p-fieldset>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>