<p-card>
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
                <p-fieldset legend="Requirement">
                    <p-tabView>
                        <p-tabPanel header="Functional">
                            <div class="grid">
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="statement" class="col-fixed" style="width:100px">Problem Statement</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <textarea rows="2" [(ngModel)]="requirementFunctionalInfo.statement" cols="75" pInputTextarea></textarea>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="scope" class="col-fixed" style="width:100px">Demand Scope</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <textarea rows="2" [(ngModel)]="requirementFunctionalInfo.scope" cols="75" pInputTextarea></textarea>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="businessValue" class="col-fixed" style="width:100px">Business Value</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <textarea rows="2" [(ngModel)]="requirementFunctionalInfo.businessValue" cols="75" pInputTextarea></textarea>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="businessValue" class="col-fixed" style="width:100px">Go-Live Approach</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input type="radio" id="glA1" name="goLiveApproach" [(ngModel)]="requirementFunctionalInfo.goLiveApproach" value="fixed">
                                    <label for="glA1">Fixed</label>
                                    <input type="radio" id="glA2" name="goLiveApproach" [(ngModel)]="requirementFunctionalInfo.goLiveApproach" value="phased">
                                    <label for="glA2">Phased</label>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3" *ngIf="requirementFunctionalInfo.goLiveApproach == 'fixed' || requirementFunctionalInfo.goLiveApproach == 'phased'">
                                    <label for="requestDate" class="col-fixed" style="width:100px">Go Live Date</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9" *ngIf="requirementFunctionalInfo.goLiveApproach == 'fixed' || requirementFunctionalInfo.goLiveApproach == 'phased'">
                                    <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="requirementFunctionalInfo.tglDate" [showIcon]="true"></p-calendar>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3" *ngIf="requirementFunctionalInfo.goLiveApproach == 'phased'">
                                    <label for="requestDate" class="col-fixed" style="width:100px">Tentative Go Live Date</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9" *ngIf="requirementFunctionalInfo.goLiveApproach == 'phased'">
                                    <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="requirementFunctionalInfo.bglDate" [showIcon]="true"></p-calendar>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Non Functional">
                            <div class="grid">
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="messageClassification">Message Classification</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="messageClassification" [(ngModel)]="requirementNonFunctionalInfo.msgClassification" pTooltip="Is the message structured for example XML or unstructured?" aria-describedby="messageClassification-help" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="messageSize">Message Size</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="messageSize" [(ngModel)]="requirementNonFunctionalInfo.msgSize" pTooltip="Size of the individual messages /dataset  exchanged. Provide the peak and average size of messages" aria-describedby="messageSize-help" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="volume">Volume</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="volume" [(ngModel)]="requirementNonFunctionalInfo.volume" pTooltip="Volume of messages per time interval. Provide peak and average values along with the volume spread over the year (seasonal peaks etc)" ia-describedby="volume-help" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="timing">Timing</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="timing" [(ngModel)]="requirementNonFunctionalInfo.timing" pTooltip="When are the messages exchanged?" aria-describedby="timing-help" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="maximumLatency">Maximum Latency</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="maximumLatency" [(ngModel)]="requirementNonFunctionalInfo.maxLatency" pTooltip="What is the expected throughput time for each transaction? (in mSec/Sec/Min/hour) What is the maximum acceptable delay in processing?" aria-describedby="maximumLatency-help" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="businessCriticality">Business criticality</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="businessCriticality" [(ngModel)]="requirementNonFunctionalInfo.businessCriticality" pTooltip="What is the affordable downtime/unavailability for the solution? (in mSecs/Sec/Min/Hour) "aria-describedby="businessCriticality-help" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="dataPrivacy">Data Privacy</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="dataPrivacy" [(ngModel)]="requirementNonFunctionalInfo.dataPrivacy" pTooltip="State if the data need to be signed/encrypted either for regulatory or due to organizational policies" aria-describedby="dataPrivacy-help" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="qualityServiceReq">Quality of Service requirements</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="qualityServiceReq" [(ngModel)]="requirementNonFunctionalInfo.serviceQuality" pTooltip="Items below are to be answered based on sender/receiver (technical) details" aria-describedby="qualityServiceReq-help" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="transformation">Transformation</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [(ngModel)]="requirementNonFunctionalInfo.transformation" [binary]="true" inputId="transformation"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="routing">Routing</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="requirementNonFunctionalInfo.routing" inputId="routing"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="protocolConversion">Protocol Conversion</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="requirementNonFunctionalInfo.protocolConversion" inputId="protocolConversion"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="messageSequencng">Message Sequencing</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="requirementNonFunctionalInfo.msgSequencing" inputId="messageSequencng"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="integrationItaap">Track and Trace</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="requirementNonFunctionalInfo.trackNTrace" inputId="integrationItaap"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="pesristenceAndArchiving">Persistence and Archiving</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="requirementNonFunctionalInfo.persistence" inputId="pesristenceAndArchiving"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="senderTechnicalDetails">Sender technical details</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="senderTechnicalDetails" [(ngModel)]="requirementNonFunctionalInfo.senderTechnicalDetails" pTooltip="State the technical aspects of the Sending system. Note: Please list what can be done, not what has been done in the past." aria-describedby="senderTechnicalDetails-help" />
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="receiverTechnicalDetails">Receiver technical details</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <input pInputText id="receiverTechnicalDetails" [(ngModel)]="requirementNonFunctionalInfo.receiverTechnicalDetails" pTooltip="State the technical aspects of the Receiving system. Note: Please list what can be done, not what has been done in the past." aria-describedby="receiverTechnicalDetails-help" />
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Compliance">
                            <div class="grid">
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="integrationItaap">SOX</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="requirementComplianceInfo.sox" inputId="integrationItaap"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="integrationItaap">FDA</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="requirementComplianceInfo.fda" inputId="integrationItaap"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="integrationItaap">Security</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="requirementComplianceInfo.security" inputId="integrationItaap"></p-checkbox>
                                </div>
                                <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                    <label for="integrationItaap">Privacy</label>
                                </div>
                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                    <p-checkbox [binary]="true" [(ngModel)]="requirementComplianceInfo.privacy" inputId="integrationItaap"></p-checkbox>
                                </div>

                                <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9" style="display: inline-flex;" *ngFor="let item of requirementComplianceInfo.compliance">
                                    <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                                        <input pInputText id="program" [(ngModel)]="item.key" aria-describedby="program-help" />
                                    </div>
                                    <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                                        <input pInputText id="program" [(ngModel)]="item.value" aria-describedby="program-help" />
                                    </div>
                                    
                                </div>

                                
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </p-fieldset>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right"></p-button>
        </div>
    </ng-template>
</p-card>

