<p-card>
  <p-toast></p-toast>
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
        <p-tabView *ngIf="authService.isDM()">
          <p-tabPanel header="Demand Manager ({{getDomainValueList(domain)}})">
            <div class="grid">
              <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                <label required class="asterisk-if-mandatory" for="decisionDate">Decision Date</label>
              </div>
              <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="demandManagerInfo.decisionDate" [disabled]="true"
                  [showIcon]="true"></p-calendar>
              </div>
              <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                <label required class="asterisk-if-mandatory" for="decision">Decision</label>
              </div>
              <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                <p-dropdown [options]="decisions" [(ngModel)]="selectedDecision"
                  placeholder="Your decision"></p-dropdown>
              </div>
              <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                <label required class="asterisk-if-mandatory" for="remarks">Remarks</label>
              </div>
              <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                <textarea rows="2" cols="75" [(ngModel)]="demandManagerInfo.remarks" pInputTextarea></textarea>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>

        <p-tabView *ngIf="!authService.isDM()">
          <p-tabPanel header="Demand Manager ({{getDomainValue(item.solution)}})"
            *ngFor="let item of solutionDirectionList ; let i =index">
            <div class="grid">
              <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                <label required class="asterisk-if-mandatory" for="decisionDate">Decision Date</label>
              </div>
              <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="item.decisionDate" [disabled]="true"
                  [showIcon]="true"></p-calendar>
              </div>
              <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                <label required class="asterisk-if-mandatory" for="dmEmail">Decision By</label>
              </div>
              <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                <input id="project" type="text" [(ngModel)]="item.dmEmail" size="60" disabled="true"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
              </div>

              <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                <label required class="asterisk-if-mandatory" for="decision">Decision</label>
              </div>
              <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                <p-dropdown [options]="decisions" [(ngModel)]="item.decision" [disabled]="true"
                  placeholder="Your decision"></p-dropdown>
              </div>
              <div class="col-3 xs:col-3 sm:col-3 lg:col-3 xl:col-3">
                <label required class="asterisk-if-mandatory" for="remarks">Remarks</label>
              </div>
              <div class="col-9 xs:col-9 sm:col-9 lg:col-9 xl:col-9">
                <textarea rows="2" cols="75" [(ngModel)]="item.remarks"  [disabled]="true" pInputTextarea></textarea>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid grid-nogutter justify-content-between">
      <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
      <p-button label="Next" *ngIf="visibleNextButton" (onClick)="nextPage()" icon="pi pi-angle-right"></p-button>
      <p-button label="Submit" *ngIf="visibleSubmitButton" (onClick)="submitPage()" iconPos="right"></p-button>
    </div>
  </ng-template>
</p-card>