<p-toast></p-toast>
<div class="card grid">
  <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
    <div class="grid">
      <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
        <p-fieldset legend="Add/Remove CCB Member">
          <div class="grid">
            <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
              <div *ngIf="ccbList.length == 0">
                <p>No CCB Members configured, please Add CCB Member!</p>
              </div>
              <p-table [value]="ccbList" *ngIf="ccbList.length > 0">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Email Address</th>
                    <th>Status</th>
                    <th>Created On</th>
                    <th>Updated On</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ccb>
                  <tr>
                    <td>{{ ccb.email }}</td>
                    <td>
<span
  [class]="'align-self-center approver-badge status-' + demandIntakeService.getApproverStatusValue(ccb.status)">
{{ ccb.status }}
</span>
                    </td>
                    <td>{{ ccb.createdDate | date: 'MMM dd, yyyy' }}</td>
                    <td>{{ ccb.updatedDate | date: 'MMM dd, yyyy' }}</td>
                    <td>
                      <p-button icon="pi pi-user-edit" (onClick)="showUpdateCCBDialog(ccb)"></p-button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="col-12 xs:col-12 sm:col-12 lg:col-12 xl:col-12">
            <p-button label="Add" icon="pi pi-plus" (onClick)="showAddCCBDialog()"></p-button>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="visibleAddCCBDialog" header="Add CCB Member" modal="true">
  <div class="card flex flex-column px-8 py-5 gap-4">
    <div class="inline-flex flex-column gap-2">
      <label for="email" class="font-semibold">Email</label>
      <input pInputText id="email" [(ngModel)]="adminService.approver.email" type="email" size="40"
             (blur)="eventService.checkEmailValue(adminService.approver.email)"
             class="p-2"/>
    </div>
    <div class="inline-flex flex-column gap-2">
      <label for="status" class="font-semibold">Status</label>
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton name="status" value="ACTIVE" [(ngModel)]="adminService.approver.status"></p-radioButton>
          <label class="font-semibold">Active</label>
        </div>
        <div class="flex align-items-center">
          <p-radioButton name="status" value="INACTIVE" [(ngModel)]="adminService.approver.status"></p-radioButton>
          <label class="font-semibold">Inactive</label>
        </div>
      </div>
    </div>

    <div class="flex align-items-center gap-2 w-full">
      <p-button label="Save" (click)="onSubmit()" type="submit"></p-button>
      <p-button label="Cancel" (click)="closeAddCCBDialog()"></p-button>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="visibleUpdateCCBDialog" header="Update CCB Member" modal="true">
  <div class="card flex flex-column px-8 py-5 gap-4">
    <div class="inline-flex flex-column gap-2">
      <label for="email" class="font-semibold">Email</label>
      <input pInputText id="email" [(ngModel)]="adminService.approver.email" type="email" size="40"
             (blur)="eventService.checkEmailValue(adminService.approver.email)" [disabled]="true"
             class="p-2 "/>
    </div>
    <div class="inline-flex flex-column gap-2">
      <label for="status" class="font-semibold">Status</label>
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton name="status" value="ACTIVE" [(ngModel)]="adminService.approver.status"></p-radioButton>
          <label class="font-semibold">Active</label>
        </div>
        <div class="flex align-items-center">
          <p-radioButton name="status" value="INACTIVE" [(ngModel)]="adminService.approver.status"></p-radioButton>
          <label class="font-semibold">Inactive</label>
        </div>
      </div>
    </div>

    <div class="flex align-items-center gap-2 w-full">
      <p-button label="Save" (click)="onUpdate()" type="submit"></p-button>
      <p-button label="Cancel" (click)="closeUpdateCCBDialog()"></p-button>
    </div>
  </div>
</p-dialog>
